﻿<div id="us-div-sectoken-select" class="us-layout-sectoken-select" oncontextmenu="return false" onselectstart="return false">
    <div id="us-div-sectoken-select-title" class="us-layer-title">
        <p id="us-sectoken-select-lbl-title" class="us-layer-lbl-title"></p>
    </div>  
    <div class="us-layer-body">
	    <div id="us-div-sectoken-select-notice" class="us-layout-sectoken-select-notice">
	    	<p id="us-sectoken-select-lbl-notice" class="us-layout-sectoken-select-lbl-notice"></p>
	    </div>
	    <div id="us-div-sectoken-select-list" class="us-layout-sectoken-select-list">
	    	<div id="us-div-sectoken-select-list-inner" class="us-layout-sectoken-select-list-inner">
	    		<table id="us-sectoken-select-tbl-list" class="us-layout-sectoken-select-tbl-list">
	    			<caption id="us-sectoken-select-tbl-list-caption"></caption>
	    			<thead><tr><th id="us-sectoken-select-tbl-list-th" class="us-layout-sectoken-select-tbl-list-th"></th></tr></thead>
					<tbody><tr><td id="us-sectoken-select-tbl-list-td" class="us-layout-sectoken-select-tbl-list-td"></td></tr></tbody>
					<tfoot><tr><td> </td></tr></tfoot>
	    		</table>
	    	</div>
	    </div>
	    <div class="us-layout-sectoken-select-driver">
        	<div class="driver-txt"><p id="us-sectoken-select-lbl-notice-txt" class="us-layout-sectoken-select-notice-txt"></p></div>
	    	<div class="driver-btn"><input id="us-sectoken-select-install-driver-btn" class="us-layout-sectoken-select-install-driver-btn" type="button" /><input id="us-fp-sectoken-select-install-driver-btn" class="us-layout-sectoken-select-install-driver-btn" type="button" /></div>
	    </div>        
        <div class="us-layer-btns">
            <ul>
                <li><input id="us-sectoken-select-confirm-btn" class="us-normal-btn btn-confirm" type="button" /></li>
                <li><input id="us-sectoken-select-cancel-btn" class="us-normal-btn" type="button" /></li>
            </ul>
        </div>
	</div>
    <button id="us-sectoken-select-cls-img-btn" class="us-layer-cls-btn" type="button"><img id="us-sectoken-select-cls-btn-img" /></button>         
</div>