@charset "UTF-8";
/*Nanum Gothic*/
@font-face {
font-family:'Nanum Gothic';
font-weight:100;
font-style:normal;
src:url('/cocoms/css/fonts/NanumGothicLight.eot'); /* IE9 Compat Modes */
src:url('/cocoms/css/fonts/NanumGothicLight.otf') format('opentype'),
url('/cocoms/css/fonts/NanumGothicLight.eot?#iefix') format('embedded-opentype'),
url('/cocoms/css/fonts/NanumGothicLight.woff') format('woff'); /* 웹 브라우저 버전 */
}
@font-face {
font-family:'Nanum Gothic';
font-weight:400;
font-style:normal;
src:url('/cocoms/css/fonts/NanumGothic-Regular.eot'); /* IE9 Compat Modes */
src:url('/cocoms/css/fonts/NanumGothic-Regular.otf') format('opentype'),
url('/cocoms/css/fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
url('/cocoms/css/fonts/NanumGothic-Regular.woff') format('woff'); /* 웹 브라우저 버전 */
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 600;
  src: url(/cocoms/css/fonts/NanumGothic-Bold.eot);
  src: url(/cocoms/css/fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(/cocoms/css/fonts/NanumGothic-Bold.woff2) format('woff2'),
       url(/cocoms/css/fonts/NanumGothic-Bold.woff) format('woff'),
       url(/cocoms/css/fonts/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(/cocoms/css/fonts/NanumGothic-ExtraBold.eot);
  src: url(/cocoms/css/fonts/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(/cocoms/css/fonts/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(/cocoms/css/fonts/NanumGothic-ExtraBold.woff) format('woff'),
       url(/cocoms/css/fonts/NanumGothic-ExtraBold.ttf) format('truetype');
}

/*NotoSans*/
@font-face {
font-family:'NotoSans';
font-weight:100;
font-style:normal;
src:url('/cocoms/css/fonts/NotoSans-Light.eot'); /* IE9 Compat Modes */
src:url('/cocoms/css/fonts/NotoSans-Light.otf') format('opentype'),
url('/cocoms/css/fonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
url('/cocoms/css/fonts/NotoSans-Light.woff') format('woff'); /* 웹 브라우저 버전 */
}
@font-face {
font-family:'NotoSans';
font-weight:300;
font-style:normal;
src:url('/cocoms/css/fonts/NotoSansKR-Regular.eot'); /* IE9 Compat Modes */
src:url('/cocoms/css/fonts/NotoSansKR-Regular.otf') format('opentype'),
url('/cocoms/css/fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
url('/cocoms/css/fonts/NotoSansKR-Regular.woff') format('woff'); /* 웹 브라우저 버전 */
}

@font-face {
font-family:'NotoSans';
font-weight:600;
font-style:normal;
src:url('/cocoms/css/fonts/NotoSansKR-Medium.eot'); /* IE9 Compat Modes */
src:url('/cocoms/css/fonts/NotoSansKR-Medium.otf') format('opentype'),
url('/cocoms/css/fonts/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
url('/cocoms/css/fonts/NotoSansKR-Medium.woff') format('woff'); /* 웹 브라우저 버전 */
}

@font-face {
font-family:'NotoSans';
font-weight:800;
font-style:normal;
src:url('/cocoms/css/fonts/NotoSansKR-Bold.eot'); /* IE9 Compat Modes */
src:url('/cocoms/css/fonts/NotoSansKR-Bold.otf') format('opentype'),
url('/cocoms/css/fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
url('/cocoms/css/fonts/NotoSansKR-Bold.woff') format('woff'); /* 웹 브라우저 버전 */
}

body *{font-family: 'Nanum Gothic';}

.info_top{background:#1e4787;}
.info_top .inner{margin:0 auto;position:relative;height:34px;overflow:hidden;}
.info_top ul{float:right;}
.info_top li{float:left;padding:0 16px;line-height:34px;background:#143466;margin-left:1px;}
.info_top li a{color:#ffffff;font-weight:100;display:inline-block;padding:0 13px 0 0;background: url(/cocoms/img/arrow_info_top.png) right center no-repeat;}

.aside_c{width:212px;float:left;left:0;top:0;height:100%;background:#1e4787;position:absolute;}

.aside_c .logo{display:inline-block;padding:0 0 18px 12px;margin-top:-18px}
.aside_c .gnb{border-top:1px solid #2f5ea7;}
.aside_c .gnb li{border-bottom:1px solid #2f5ea7;position:relative;line-height:38px;}
.aside_c .gnb li a {
    font-size: 13px;
    color: #fff;
	font-weight:300;
	display:block;
	padding:0 17px;
}
.aside_c .gnb li a.tab{background: url(/cocoms/img/arrow_aside.png) 188px center no-repeat;}
.aside_c .gnb li a.tab.active{background: #35a9f2 url(/cocoms/img/arrow_aside_open.png) 188px center no-repeat;}

.footer{background:#3b3e43;text-align:center;color:#8c939d;line-height:39px;}


.container{padding:0 0 0px 255px;position:relative;width:1202px;min-height: 864px;}


.gnb .depth2{background:#143466;display:none;padding:12px 16px;}
/* .gnb .depth2.block{font:block;} */
.gnb .depth2 li{line-height:25px;border:0;}
.gnb .depth2 li a{color: #fff;font-weight: 300;padding:0;font-size:12px;}
.gnb .depth2 li a.active,.gnb .depth2 li a:hover{color: #3daaef;}

.tit_c{font-size: 24px;color: #333333;font-weight: 600;padding:25px 0 28px;overflow:hidden;}

.tit_c_s{font-size: 18px;color: #333333;font-weight: 600;padding:37px 0 23px;overflow:hidden;position:relative;}
.tit_c_s .btn_style1{vertical-align: 2px;margin-left: 7px; cursor:pointer;}
.tit_c_s span{font-size: 18px;color: #333333;font-weight: 400;}
.tit_c_s .txt_red{font-size: 13px;color: #ff0000;font-weight: 400;position:absolute;right:0;top:44px;text-align:right;}
.tit_c_s .txt_red strong{font-size: 13px;color: #ff0000;font-weight: 600;}
.tit_box.tit_box_n.mt25{margin-top:25px;}
.step_sub{padding:28px 0 0;}
.step_sub .inner{overflow:hidden;}
.step_sub .inner li{display:inline-block;font-size:11px;padding:0 14px 0 4px;line-height:15px;font-size: 12px;color: #7e7e7e;font-weight: 400;background: url(/cocoms/img/arrow_step_sub.png) right center no-repeat;}
.step_sub .inner li:first-child{padding-left:0;}
.step_sub .inner li:last-child{background:none;color:#000;}

.tit_c_s .txt_blue{font-size: 18px;color: #214985;font-weight: 600;}


.box_top_common{overflow:hidden;padding:15px 39px;border:1px solid #e4e4e4;background:#f8f8fa;}
.box_top_common li,.box_top_common .txt_dot{padding-left:12px;background: url(/cocoms/img/dot_navy.png) 0 11px no-repeat;font-size: 12px;color: #333333;font-weight: 400;line-height:25px;}
.box_top_common .txt_dot{font-size:14px;display:inline-block;}

.table_area{border-top:1px solid #3b3b3b;border-bottom:1px solid #3b3b3b;}
.table_area table {width:100%; }
.table_area table th {padding:13px 0; font-size:14px; color:#010101; background:#f5f5f5; border-bottom:1px solid #dddddd; border-left:1px solid #dddddd;}
.table_area table td {padding:13px 20px; color:#333333; font-size:13px; border-bottom:1px solid #dddddd; border-left:1px solid #dddddd;}
.table_area table td:first-child,.table_area table th:first-child{border-left:0;}

.btn_style2.list_view{line-height:22px;height:22px; cursor:pointer;}

.form_apply table td,.form_apply .table_area table tbody th{border:0;}
.form_apply .table_area table tbody th{background:#fff;text-align:left;padding:11px 20px 15px; color:#333333; font-size:13px;}
.form_apply .table_area table tbody tr:first-child th,.form_apply .table_area table tbody tr th.pt{padding-top:23px;}
.form_apply .table_area table tbody tr:last-child td{padding-bottom:23px;}
.form_apply .table_area table tbody td {
    padding: 0 20px 8px;
}
.form_apply .cont .table_area table tbody td {
    padding: 0 0px 8px 20px;
}
.form_apply td span{line-height:30px;display:inline-block;color:#333333;font-size:13px;width:16px;text-align:center;}

.input_style1 {
    width: 100%;
    height: 30px;
    padding: 0 9px;
    line-height: 30px;
    border: 1px solid #cccccc;
   color:#333333; 
	font-size:13px; 
    box-sizing: border-box;
}
.input_style1.disabled{background:#f8f8fa}

.input_style1.others{width:153px;}
.aside .input_style1.num1{width:66px;}
.aside .input_style1.num2{width:98px;}
.aside .input_style1.num3{width:126px;}
.form_apply .aside .tab_type{overflow:hidden;height:40px;border-top:1px solid #3b3b3b;}
.form_apply .aside .tab_type li{width:50%;float:left;text-align:center;line-height:40px;}
.form_apply .aside .tab_type li a{display:block;font-size: 14px;color: #818181;font-weight: 600;}
.form_apply .aside .tab_type li.active a{background:#1e4787;color:#fff;}

.input_style1.address1{width:202px;margin-right:3px;}
.input_style1.phone {
    width: 79px;
}
.input_style1.resident {
    width: 130px;
}
.input_style1.margin{margin:7px 0;}

.btn_style1, .btn_style2,.btn_style3 {padding:0 14px; height:30px; display:inline-block; line-height:30px; background:#000; font-size:12px; text-align:center; color:#fff;vertical-align: top; border:0;box-sizing: border-box;cursor:pointer;}
.btn_style2{background:#1e4787;}
.btn_style3{background:#838383;}

.tit_bar {font-size: 24px;color: #333333;font-weight: 600;padding:19px 0 24px;}
.tit_bar.blue{background: url(/cocoms/img/bar_tit_sub_blue.png) 0 0 no-repeat;}
.tit_bar.yellow{background: url(/cocoms/img/bar_tit_sub_yellow.png) 0 0 no-repeat;}
.tit_bar.pink{background: url(/cocoms/img/bar_tit_sub_pink.png) 0 0 no-repeat;}
.tit_bar.green{background: url(/cocoms/img/bar_tit_sub_green.png) 0 0 no-repeat;}
.tit_bar.my{background: url(/cocoms/img/bar_tit_sub_my.png) 0 0 no-repeat;}

.form_apply{overflow:hidden;}
.form_apply_style1{overflow:hidden;border-bottom:1px solid #3b3b3b;}

.form_apply .aside{width:319px;min-height:1000px;float:left;border-right:0;}
.form_apply .cont{width:881px;float:left;border-left:1px solid #dddddd;}

.form_apply_style1 .aside{min-height:648px;width:319px;float:left;border-right:1px solid #dddddd;}
.form_apply_style1 .cont{width:881px;float:left;border-left:0;}



.btm_form_box {padding:5px 0;display:inline-block;}
.btm_form_box.block{display:block;}
.btm_form_box.first {margin-right:0;width:180px;}
.btm_form_box.pt0 {padding-top:0px; }
.btm_form_box.inner_line_sec {padding-top:0px; }
.btm_form_box.inner_line_sec label {color:#171717 !important; }
.btm_form_box input[type="checkbox"],.btm_form_box input[type="radio"] {display:none; }
.btm_form_box input[type="checkbox"] + label,.btm_form_box input[type="radio"] + label {padding-left:20px; display:inline-block; position:relative; font-size:12px; color:#171717; line-height:13px; cursor:pointer;}
.list_copy .btm_form_box input[type="checkbox"] + label,.list_copy .btm_form_box input[type="radio"] + label { color:#214985;}

.btm_form_box input[type="checkbox"] + label:before,.btm_form_box input[type="radio"] + label:before {content:''; width:14px; height:14px; position:absolute; left:0px; top:0px; display:inline-block; background:url(/cocoms/img/icon_check.png) 0 0 no-repeat; }
.btm_form_box input[type="checkbox"]:checked + label:before,.btm_form_box input[type="radio"]:checked + label:before{background:url(/cocoms/img/icon_check_on.png) 0 0 no-repeat;}

.txt_point{font-size: 13px;color: #ff0000;font-weight: 600;}


.select_style {display:inline-block; height:30px; padding:0 26px 0 11px; line-height:30px; font-size:13px; color:#333333; border:1px solid #cccccc; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff url(/cocoms/img/icon_combo.png) 93% center no-repeat; }
.select_style.pr{padding-right:43px;}
.select_style::-ms-expand {display: none;}

.btm_form_box {
    margin-right: 22px;
}
.btm_form_box.first label{color:#171717 !important;}
.btm_form_box.last{margin-right:9px;}

.insert_file_target {display:none; }
.form_btn {padding:0 15px; cursor:pointer;}

.list_file .input_style1{font-size:11px;background:#f8f8fa;width:331px;}

.form_apply .cell{border-top:1px solid #dddddd;padding:28px 22px 20px;}
.form_apply .cell.cell_type1{border-top:0;padding:29px 0 5px 32px;}
.form_apply .cell .tit{font-size: 14px;color: #282828;font-weight: 600;background: url(/cocoms/img/icon_box_navy.png) 0 3px no-repeat;padding:0 0 5px 17px;}
.form_apply .cell .txt {
    font-size: 13px;
    color: #171717;
    
    padding: 0 0 0 16px;
    line-height: 26px;
	margin-left:15px;
}
.form_apply .cell.cell_type1 .txt{background: none;padding-left:19px;margin:0;}

.btn_style2.file_s{padding:0 10px 0 26px;line-height:26px;height:26px;border-radius:2px;margin-left:3px;background: #1e4787 url(/cocoms/img/icon_file_s2.png) 11px center no-repeat;}
.btn_style2.file_s.ml{margin-left:16px;}



.form_apply .cell .txt_inner {
    padding: 0 0 6px 30px;
    line-height: 22px;
    color: #333333;
    font-size: 12px;
}
.form_apply .cell .txt span{font-size: 13px;color: #171717;font-weight:100;}
.form_apply .cell .txt span.txt_blue{color:#214985;font-weight:600;}
.form_apply .cell .margin{margin-left:13px;}

.form_apply .list_file{overflow:hidden;margin:0 0 13px;}
.form_apply .list_file .txt{width:250px;float:left;}

.form_apply .input_style1.height{height:88px;}


.txt_commission{padding:36px 0 39px;text-align:center;background:#f9f9f9;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;}
.txt_commission .num{font-size: 16px;color: #214985;font-weight: 600;}
.txt_commission .num strong{font-size: 22px;color: #214985;font-weight: 600;}
.txt_commission .txt{padding:13px 0 0;color: #636161;}


.form_apply .txt_b{padding:20px 0;text-align:center;border-bottom:1px solid #3b3b3b;}

.btn_area{text-align:center;overflow:hidden;padding:20px 0 63px;}
.btn_area .left{float:left;width:50%;text-align:left;}
.btn_area .right{float:right;width:50%;text-align:right;}
.form_apply .btn_area{padding:18px 0 83px;}
.form_apply .btn_area .btn{margin:0 4px;padding: 0 28px;}

.pagination{text-align:center;padding:26px 0 53px;}
.pagination li{display:inline-block;border:1px solid #cecece;border-radius:2px;width:30px;vertical-align: top;}
.pagination li a{display:block;font-size: 13px;color: #000000;height:30px;line-height:30px;font-weight: 600;}
.pagination li.active a{color: #1e4787;}
.pagination li.active{border:1px solid #1e4787;}
.pagination li.prev a{background: url(/cocoms/img/page_prev.png) center center no-repeat;}
.pagination li.next a{background: url(/cocoms/img/page_next.png) center center no-repeat;}
.pagination li.prev{margin-right:6px;}
.pagination li.next{margin-left:6px;}

.table_area .fileDown{text-indent:9999px;display:inline-block;width:15px;height:19px;background: url(/cocoms/img/icon_file.png) 0 center no-repeat;font-size:0;vertical-align: top;margin: 0 2px;}
.table_area .iconSearch{text-indent:9999px;display:inline-block;width:18px;height:18px;background: url(/cocoms/img/icon_search.png) 0 center no-repeat;font-size:0;vertical-align: top;}

.table_area.list table,.table_area.view table{border-bottom:0}
.table_area.list td{text-align:center;}
.table_area.list td.subject{text-align:left;padding-left:22px;}
.table_area.list td .new{color:#ff0000;margin-left:5px;}
.table_area.list table th {font-size: 14px;}
.table_area.list tr:last-child td,.table_area.list_top tr:last-child td,.table_area.list_top tr:last-child th,.table_area.view tr:last-child td,.table_area.view tr:last-child td{border-bottom:0px;}

.search_form_common{display:inline-block;}

.box_top_common.date{padding:20px 23px;margin: 3px 0 30px;}
.box_top_common.date .txt_dot{margin:0 22px 0 0;font-size:14px;}
.box_top_common.date span{color: #333333;margin:0 12px 0 4px;display:inline-block;}
.box_top_common.date .txt_red{color: #ff0000;font-size:13px;margin:0 12px 0 35px;display:inline-block;}

.box_top_common.date .select_style {
    padding: 0 47px 0 11px;
}


.total_top_common .search_form_common{float:right;}
.search_form_common .input_style1{width:317px;}
.search_form_common .btn_style2{padding:0 25px;}

.total_top_common{line-height:18px;overflow:hidden;padding:34px 0 18px;}
.total_top_common .list_btn{float:right;}
.total_top_common .total{display:inline-block;float:left;font-size: 13px;color: #214985;}
.total_top_common .total strong{font-size: 13px;color: #214985;font-weight: 500;}
.total_top_common .select_style{float:right;}
.tit_bar.mt{margin:30px 0 0;}

.button_area{overflow:hidden;text-align:center;padding:0 0 80px;height:30px;position:relative;}
.button_area *{vertical-align:top}
.button_area .line{display:inline-block;width:1px;height:33px;background:#d4d4d4;margin:0 17px;}
.button_area .right{position:absolute;right:0;top:0;text-align:right;}
.button_area .left{position:absolute;left:0;top:0;text-align:left;}
.button_area .btn{padding: 0 18px;}

.declaration_preview{min-height:600px;background: url(/cocoms/img/bg_preview.png) 0 0 repeat;}

.button_area .search_form_common .input_style1{width:233px}

.table_area .fileDown.board {
    background: url(/cocoms/img/icon_file_board.png) 0 center no-repeat;
}

.table_area.list.board table th,.table_area.list.board table td{border-left:1px solid #dddddd;}
.table_area.list.board table th:first-child,.table_area.list.board table td:first-child{border-left:0;}

.table_area.view{text-align:left;margin:0 0 23px;}
.table_area.view th{text-align:center;}
.table_area.view th,.table_area.view td{padding:13px 18px;}
.table_area.view .subject{font-size: 14px;}
.table_area.view .subject .date{float:right;font-size: 12px;color: #656565;font-weight: 400;}
.table_area.view .subject .date i{font-style:normal;display:inline-block;margin:0 7px;color:#1e4787;}
.table_area.view .cont{line-height:25px;padding:13px 18px 63px;height:440px;vertical-align: top;}
.table_area.view .fileDown{margin-right:6px;vertical-align: 13px;}
.table_area.write .cont{padding:6px 18px;}
.table_area.view .input_style1.height{height:466px;padding: 11px 9px;}

.table_area.write th,.table_area.write td{padding:6px 18px;}

.table_area.view .link_board{display:block;color:#214985;margin:6px 0;}
.link_board .fileDown.board {
    background: url(/cocoms/img/icon_file_board3.png) 0 center no-repeat;
	margin-right: 3px;
}
.wrap_link_board{padding:10px 0 0;}
.table_area.view .wrap_link_board .link_board{display:inline-block;}
.table_area.write .list_file .input_style1 {
    background: #fff;
}
.table_area.view .wrap_link_board .btn_del{margin-left:5px;vertical-align: -3px;}


.menu_aside .tit_bar,.cont_notice .tit_bar{border-bottom:1px solid #3b3b3b}
.menu_aside{width:229px;float:left;}
.cont_notice{width:938px;float:right;padding:0 0 120px;}

.menu_aside li{height:47px;box-sizing:border-box;padding:15px 0 0;border-bottom:1px solid #c8c8c8;}
.menu_aside li a{display:inline-block;font-size: 14px;font-weight: 700;padding:0 0 2px;}
.menu_aside li:hover a,.menu_aside li.active a{border-bottom:1px solid #5f5f5f}

.cont_notice .box_top_common {
    margin: 19px 0 31px;
}
.box_top_common .txt_center{text-align:center;font-size: 14px;color: #333333;font-weight: 600;padding:20px 0;}
.box_top_common .txt_center strong{color:#214985;font-size: 14px;}
.cont_notice .tit_box {
    margin: 17px 0 7px;
}
.tit_box{
	font-size: 13px;
	color: #171717;
	font-weight: 600;
	background: url(/cocoms/img/icon_box_navy.png) 0 3px no-repeat;
	padding: 2px 0 2px 19px;
	overflow:hidden;
}
.tit_box.tit_box_n{font-size:14px;background: url(/cocoms/img/icon_box_navy.png) 0 5px no-repeat;padding: 2px 0 2px 19px;margin:35px 0 20px;}

.cont_notice .list_icon{padding:0 0 0 19px;}
.cont_notice .list_icon li{font-size: 13px;color: #171717;font-weight: 400;line-height:30px;position:relative;padding-left:8px;}
.cont_notice .list_icon li:before{content:'-';position:absolute;left:0;top:3px;}
.cont_notice .txt_b{font-size: 14px;color: #214985;font-weight: 600;padding:38px 0 0;}
.cont_notice .txt_b a{font-size: 14px;color: #214985;}
.cont_notice .txt_b.pd0{padding:19px 0 0;}
.cont_notice .list_txt li{font-size: 13px;color: #171717;font-weight: 400;line-height:30px;position:relative;padding-left:16px;}

.form_apply .cell .txt {
    font-size: 13px;
    color: #171717;
    background: url(/cocoms/img/icon_file_s.png) 0 8px no-repeat;
    padding: 0 0 0 16px;
    line-height: 26px;
    margin-left: 15px;
}


.tab_property{position:relative;}
.tab_property .tab {
    font-size: 13px;
    display: block;
    padding: 17px 49px;
	background: url(/cocoms/img/arrow_q_off.png) 97% center no-repeat;
	cursor:pointer;
	border-bottom:1px solid #dddddd;
	position:relative;
	font-weight: 600;
}
.tab_property .tab:after{content:'';background: url(/cocoms/img/icon_q.png) 0 center no-repeat;position:absolute;width:20px;height:20px;left:20px;top:50%;margin-top:-10px;}

.tab_property .tab.active{background: url(/cocoms/img/arrow_q_on.png) 97% center no-repeat;}

.cont_notice .list_qa{margin:29px 0 10px;border-top:1px solid #3b3b3b;border-bottom:1px solid #3b3b3b;}
.tab_property .item{display:none;background: #f8f8fa url(/cocoms/img/icon_a.png) 20px 18px no-repeat; padding:17px 49px;font-size: 13px;line-height:24px;border-bottom:1px solid #dddddd;}
.tab_property .item a{font-size: 13px;color:#214985;font-weight:600;}
.tab_property.border0{border:0}
.tab_property .item2{background: #f8f8fa url(/cocoms/img/icon_a.png) 20px 18px no-repeat; padding:17px 49px;font-size: 13px;line-height:24px;border-bottom:1px solid #dddddd;}
.tab_property .item2 a{font-size: 13px;color:#214985;font-weight:600;}

.cont_notice .input_style1.height {
    height: 187px;
}
.cont_notice .table_area table th {
    font-size: 14px;
}
.cont_notice .btn_area{padding:21px 0 0;}
.cont_notice .btn_area .btn_style2{padding:0 33px;}


.declaration_preview .tab{overflow:hidden;}
.declaration_preview .tab li{background:#fff;text-align:center;width:50%;line-height:42px;float:left;border-bottom:1px solid #1e4787;}
.declaration_preview .tab li a{display:block;font-size: 14px;color: #333333;}
.declaration_preview .tab li.active a{color: #fff;}
.declaration_preview .tab li.active{background:#1e4787;}

.join_content .list_step{overflow:hidden;border-top:1px solid #e4e4e4;}
.join_content .list_step li{position:relative;box-sizing:border-box;width:25%;float:left;padding:0px 35px 0 0px;height:68px;border-bottom:1px solid #e4e4e4;background:#f8f8fa;}
.join_content .list_step li .wrap{padding:17px 0px 0 91px;height:67px;box-sizing: border-box;}
.join_content .list_step li:after{content:'';width:36px;height:68px;position:absolute;right:0;top:-1px;background: url(/cocoms/img/arrw_join.png) 0 0 no-repeat;border-bottom:1px solid #e4e4e4;}
.join_content .list_step li.active:after{background: url(/cocoms/img/arrw_join_on.png) 0 0 no-repeat;}
.join_content .list_step li p{font-size: 13px;color: #9e9e9e;font-weight: 100;padding:0 0 3px;}
.join_content .list_step li strong{font-size: 15px;color: #333333;font-weight: 600;}
.join_content .list_step li.active:before{content:'';width:36px;height:68px;position:absolute;left:-36px;top:-1px;background: url(/cocoms/img/arrw_join_on_after.png) 0 0 no-repeat;}

.join_content .list_step li:nth-child(1) .wrap {
    padding: 17px 0px 0 58px;
}

.join_content .list_step li:first-child{border-left:1px solid #e4e4e4;}
.join_content .list_step li:last-child{border-right:1px solid #e4e4e4;}
.join_content .list_step li:last-child:after{display:none;}
.join_content .list_step li.active:last-child{background:#1e4787}

.join_content .list_step li.active .wrap{background:#1e4787;}
.join_content .list_step li.active p{color: #96b4e3;}
.join_content .list_step li.active strong{color: #fff;}


.join_content .type {
    overflow: hidden;
    padding: 55px 0 66px;
    width: 718px;
    margin: 0 auto;
}
.join_content .type li{box-sizing:border-box;width:50%;float:left;text-align:center;height:188px;border-left:1px solid #dadada;}
.join_content .type2 li{width:33.33%;}
.join_content .type2 {
    padding: 40px 0 41px;
}
.join_content .type li .icon{padding:31px 0 0;height:119px;}
.join_content .type li:first-child{border-left:0;}

.join_content .inner{width:1007px;margin:0 auto;}
.join_content .type .btm_form_box label{font-size: 15px;color: #000;font-weight: 700;}
.join_content .type .btm_form_box label span{font-size: 12px;font-weight: 600;}

.join_content .ment_b .tit{font-size: 15px;color: #214985;font-weight: 600;}
.join_content .ment_b .box_top_common {
    margin: 13px 0 63px;
	padding: 15px 25px;
}
.join_content .ment_b .box_top_common .cell{padding:0 0 0 79px;position:relative;}
.join_content .ment_b .box_top_common .cell.pb {
    padding-bottom: 2px;
}
.join_content .ment_b .box_top_common .txt_blue{padding:11px 0 0;}
.join_content .ment_b .box_top_common .txt_blue li{padding-left:0;background:transparent;color:#214985;font-size:11px;line-height:21px;}
.join_content .ment_b .box_top_common .cell .tit{position:absolute;left:0;top:7px;font-size: 13px;color: #333333;font-weight: 700;}

.join_content .ment_b.step_1{width:718px;margin:0 auto;}

.join_content .button_area .btn_style1,.join_content .button_area .btn_style2 {
    padding: 0 44px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
	margin:0 3px;
	min-width:120px;
	box-sizing:border-box;
}
.join_content .button_area{padding-bottom:125px;}
.join_content .input_area{box-sizing:border-box;border:3px solid #f0f0f0;width:718px;margin:0 auto 38px;height:87px;padding:25px 31px;}
.join_content .input_area.margin {
    margin: 37px auto 41px;
}

.join_content.corporate .input_area .tit.ml {
    margin-left: 22px;
}
.join_content.corporate .input_area {
    padding: 25px 22px;
}
.join_content.corporate .input_area {
    padding: 25px 22px;
    height: auto;
}
.join_content.corporate .input_area .tit{margin:0;width:43px;}
.join_content.corporate .input_area .tit.ml{margin-right:0;width:92px;padding:0;}


.join_content .input_area .input_style1{width:143px;}
.join_content .input_area .input_style1.num2{width:98px;}
.join_content.corporate .input_area2 .input_style1.num1{width:158px;}

.input_style1.height_bottom_n{height:142px;margin:0 0 19px;}

.join_content.corporate .input_area2 .cell1{padding:0 0 12px}

.join_content .input_area .tit{display:inline-block;padding:0 12px 0 0;line-height:30px;font-size: 13px;color: #333333;font-weight: 600;}
.join_content .input_area .tit.ml{margin-left:22px;}
.join_content .input_area span{display:inline-block;margin:0 6px;}

.join_content .tit_top{padding:39px 0 0;text-align:center;font-size: 18px;color: #000;font-weight: 600;}
.join_content .tit_top p{padding:11px 0 0;font-size: 12px;color: #706e6e;font-weight: 400;}
.join_content .tit_top.mb{margin-bottom:41px;}

.join_content .cell_agree {
    margin: 35px 0 35px;
}
.join_content .cell_agree .tit{font-size: 14px;color: #214985;font-weight: 600;line-height:53px;padding:0 18px;background:#f5f5f5;border:1px solid #dddddd;overflow:hidden;}

.join_content.corporate .input_area2 .tit.ml {
    margin-left: 38px;
}

.join_content.normal .input_area .tit.ml {
    margin-left: 51px;
}
.join_content.normal .input_area {
    padding: 25px 41px;
}

.join_content .cell_agree .tit .btm_form_box{display:inline-block;float:right;padding:0;margin:0;}
.join_content .cell_agree .tit .btm_form_box label{font-size: 13px;}
.join_content .cell_agree .tit span{font-size: 14px;color: #f04545;font-weight: 600;}

.join_content .cell_agree .txt{border:1px solid #dddddd;border-top:0;padding:26px 18px 15px;box-sizing:border-box;height:258px;overflow-y:scroll;}
.join_content .cell_agree .txt{font-size: 13px;color: #333333;line-height:20px;}
.join_content .cell_agree .txt *{font-size: 13px;color: #333333;}
.join_content .cell_agree .txt strong{font-weight: 700;}
.join_content .cell_agree .txt .txt_inner{padding-left:13px;font-weight: 600;}
.join_content .cell_agree .btm_form_box {
    padding: 37px 0 17px;
    text-align: center;
    display: block;
}

.join_content .table_area.list_top{margin:0 0 53px;}
.join_content .table_area.list_top table th {
    padding: 13px 20px;
    font-size: 14px;
    text-align: left;
}
.join_content .table_area.list_top table td {
    padding: 9px 17px;
    font-size: 14px;
    height: 30px;
}
.join_content .table_area.list_top .input_style1{width:306px;}
.join_content .table_area.list_top .input_style1.phone {
    width: 125px;
}
.join_content .table_area.list_top .select_style{font-size:12px;}
.join_content .table_area.list_top .input_style1.w169{width:169px;}
.join_content .table_area.list_top .input_style1.w148{width:148px;}
.join_content .table_area.list_top .input_style1.num{width:105px;}
.join_content .table_area.list_top td span {
    line-height: 30px;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    width: auto;
    text-align: center;
    padding: 0 2px;
}
.join_content .table_area.list_top td .btn_style1{margin-left:3px;}

.join_content .txt_complet {
    text-align: center;
    padding: 110px 0 61px;
}
.join_content .txt_complet p{font-size: 22px;font-weight: 600;padding:25px 0 0;}
.join_content .txt_complet p.txt{font-size: 13px;color:#214985;font-weight: 500;padding:12px 0 0;}
.login_content.login_content_n {
	margin:0 auto;
    padding: 37px 40px 0px;
    width:446px;
    box-sizing:border-box;
	background:#fff;
	

    -moz-box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.16);
	border-radius:5px;


}
.login_content.login_content_n h2{text-align:center;padding:0 0 43px;}
.login_content{padding:57px 0 82px;width:1005px;margin:0 auto;}
.login_content .inner{overflow:hidden;padding:0 0 25px;}
.login_content .inner .cell .tit{padding:11px 0 18px;font-size: 18px;color: #214985;font-weight: 600;border-bottom:1px solid #e1e1e1;margin:0 0 29px;}
.login_content .inner .cell .tit span{font-size: 15px;color: #214985;}
.login_content .inner .cell1 .btn_style2{display:block;box-sizing:border-box;height:79px;line-height:79px;font-size: 16px;}
.login_content .inner .cell2 .btn_style2{box-sizing:border-box;position:absolute;right:0;top:0;width:120px;height:94px;line-height:94px;font-size: 16px;}
.login_content .inner .cell .check{padding:16px 0 19px;}
.login_content .inner .cell .check strong{display:inline-block;font-weight: 700;margin:0 15px 0 0;}
.login_content .inner .cell1 .btn_style3{display:block;box-sizing:border-box;height:46px;line-height:46px;font-size: 14px;margin:8px 0 0;}

.login_content .inner .input_login{padding:0 133px 0 0;position:relative;height:94px;}
.login_content .inner .input_login .input_style1{border:2px solid #dddddd;font-size:11px;height:41px;margin:0 0 13px;}
.login_content .inner .link{overflow:hidden;padding:21px 0 0;border-top:1px solid #e1e1e1}
.login_content .inner .link a{font-size: 13px;color: #214985;font-weight: 300;}


.login_content_n .inner{overflow:hidden;padding:0 0 25px;}

.login_content .inner .cell .tit{padding:11px 0px 18px;font-size: 17px;color: #214985;font-weight: 600;border-bottom:1px solid #e1e1e1;margin:0 0 29px;}
.login_content .inner .cell .tit span{font-size: 15px;color: #214985;}
.login_content .inner .cell1 .btn_style2{display:block;box-sizing:border-box;height:79px;line-height:79px;font-size: 16px;}
.login_content .inner .cell2 .btn_style2{box-sizing:border-box;position:absolute;right:0;top:0;width:120px;height:94px;line-height:94px;font-size: 16px;}
.login_content .inner .cell .check {

    padding: 16px 0px 19px;

}
.login_content_n .box_top_common{width:513px;margin:0 auto;box-sizing:border-box;padding: 15px 0 15px 27px;letter-spacing:-1px;}
.login_content .inner .cell .check strong{display:inline-block;font-weight: 700;margin:0 15px 0 0;}
.login_content .inner .cell1 .btn_style3{display:block;box-sizing:border-box;height:46px;line-height:46px;font-size: 14px;margin:8px 0 0;}

.login_content .inner .input_login{padding:0 133px 0 0;position:relative;height:94px;}
.login_content .inner .input_login .input_style1{border:2px solid #dddddd;font-size:11px;height:41px;margin:0 0 13px;}
.login_content .inner .link {
    overflow: hidden;
    padding: 21px 16px 0;
    border-top: 1px solid #e1e1e1;
}
.login_content .inner .link a {
    font-size: 13px;
    color: #214985;
    font-weight: 400;
}
.login_content .inner .link a.right{font-weight:700;}
.login_content .inner .link a.margin{margin-right:41px;}
.login_content.regi .cell .btn_style2{position:static;width:168px;height:41px;line-height:41px;font-size:14px;display:inline-block;}
.login_content.regi .cell .button_area{padding:32px 0 0;}
.login_content.regi .inner .cell{height:187px;}
.login_content .box_input strong{display:inline-block;color:#333333;font-size:13px;font-weight: 700;margin:0 13px 0 0;}
.login_content .box_input .input_style1{width:149px;}
.login_content .cell2 .box_input .input_style1{width:89px;}
.login_content .box_input span {
    line-height: 30px;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    width: 18px;
    text-align: center;
}


.join_content .list_step_id{border:1px solid #e4e4e4;overflow:hidden;background:#f8f8fa;margin:0 0 60px;}
.join_content .list_step_id li{box-sizing:border-box;border-left:1px solid #e4e4e4;width:20%;float:left;line-height:48px;text-align:center;font-size: 14px;color: #333333;font-weight: 600;}
.join_content .list_step_id li:first-child{border-left:0}
.join_content .list_step_id li.active{color: #fff;background:#1e4787;}

.join_content .id_step_1{text-align: center;}
.join_content .id_step_1 .icon{padding:0 0 20px;}

.join_content .table_area.id_step .input_style1 {
    width: 252px;
}
.join_content .table_area.id_step td span{
    width: auto;
	display:inline-block;
	margin:0 6px;
}
td span.txt_area{
    width: auto;
	display:inline-block;
	margin:0 5px;
}

.join_content .id_result{margin:0 auto 30px;width:641px;height:98px;box-sizing:border-box;padding:37px 0;text-align:center;border:3px solid #f0f0f0}
.join_content .id_result .tit {
    display: inline-block;
    font-size: 13px;
    color: #333334;
    font-weight: 600;
    margin-right: 11px;
    vertical-align: 4px;
}
.join_content .id_result .tit.ml{margin-left:193px;}
.join_content .id_result strong{font-size: 24px;color: #214985;font-weight: 600;}

.mypage h3.tit{position:relative;font-size: 18px;color: #4b4a4a;font-weight: 600;overflow:hidden;padding:26px 0 12px;}
.mypage h3.tit .btn_top{position:absolute;right:0;bottom:7px;}
.mypage h3.tit .btn_top .btn{margin-left:3px;}
.mypage .button_area{padding:53px 0 0;}
.mypage .button_area .btn {
    padding: 0;
    box-sizing: border-box;
    width: 83px;
    margin: 0 3px;
}
.mypage .table_area.list_top table td{color:#171717;font-size:14px;padding: 9px 17px;height: 30px;line-height:26px;}
.mypage .table_area.list_top table td strong{color:#171717;font-size:14px;font-weight:600;}
.mypage .table_area.list_top table th{font-size:14px;padding-left:20px;text-align:left;}
.mypage .input_style1{width:250px;}
.mypage .input_style1.phone{width:104px;}
.mypage .input_style1.email{width:152px;}
.mypage .input_style1.pw{width:322px;}

.mypage_2 .table_area .btm_form_box{margin:0 ;}
.mypage_2 .table_area .btm_form_box input[type="checkbox"] + label{
    font-size: 0;
    line-height: 1;
    vertical-align: top;
}
.list_check .table_area.list.board table th:nth-child(2),.list_check .table_area.list.board table td:nth-child(2) {
    border-left: 0;
}
.mypage_2 .table_area.list.board table th, .mypage_2 .table_area.list.board table td {
    padding: 8px 10px;
    height: 25px;
}
.mypage_2 .table_area.list.board td .btn{height:25px;line-height:25px;width:66px;border-radius:2px;font-size:12px;padding:0;}
.mypage_2 .table_area.list.board td .btn_style1{background:#787878}
.mypage_2 .table_area.list.board td,.mypage_2 .table_area.list.board td a{font-size:12px;}
.mypage_2 .table_area.list table td.subject{padding-left:20px;}
.mypage_2 .pagination {
    padding: 28px 0 0px;
}
.mypage_2 .total_top_common {
    padding: 28px 0 18px;
}

.mypage_2 .table_area.view {
    margin: 28px 0 0;
}

.table_area.view .subject.re{background: #effbff url(/cocoms/img/bg_re.png) 15px 10px no-repeat;padding-left:31px;}
.table_area.view .subject.re .txt_re{font-size: 14px;color: #214985;}

.mypage_2 strong{font-weight:600;line-height:23px;font-size:13px;}
.mypage_2 strong.txt_blue{color:#214985;}
.mypage_2 .table_area.list td .btn_style1.cancel{background:#000;height:23px;line-height:23px;padding:0 14px;width:auto;margin-left:8px;}

.mypage .box_top_common.date{margin:36px 0 0;}
.mypage .box_top_common.date .input_style1 {
    width: 172px;
}
.form_apply_style1 .cont .table_area,.aside .table_area{border-bottom:0}
.mypage .box_top_common.date .ui-datepicker-trigger{margin:0 38px 0 8px !important;}
.mypage .box_top_common.date .select_style{width:173px;}
.mypage .box_top_common.date .btn_style2{padding:0 33px;margin-left:40px;}

.search_top{padding:0 161px 0 0;position:relative;}

.search_top .table_area .btn_search{width:135px;height:125px;position:absolute;right:0;top:0;font-size:14px;line-height:125px;}

.search_top .table_area .hasDatepicker{width:172px;}

.search_top .table_area table td {
    padding: 5px 16px;
}
.search_top .table_area table th {
    font-size: 14px;
}

.search_top .table_area .ui-datepicker-trigger{margin:0 25px 0 7px !important;}

.search_top .table_area .btm_form_box input[type="checkbox"] + label, .search_top .table_area .btm_form_box input[type="radio"] + label {
    font-size: 13px;
}

.table_area.list_type1 th{height:41px;padding:0;}
.table_area.list_type1 td{padding:0px;height:40px;}

.table_area.list_type1 .btm_form_box{margin:0;}
.table_area.list_type1 th .btm_form_box label{font-size:14px;}
.table_area.list_type1 td .btm_form_box label{font-size:0;}

.cont .table_area table th {
    font-size: 14px;
}

.cont .list_dot li{padding-left:9px;line-height:26px;background: url(/cocoms/img/dot_navy2.png) 0 center no-repeat;font-size:13px;color:#171717;margin-left:20px;}
.cont .list_dot li strong{font-size:13px;color:#171717;}
.line_type_1.table_area table{border-top: 0;}
.line_type_1.table_area table.first{border-top: 0;}

.line_type_1.table_area.list tr:last-child td, .line_type_1.table_area.list_top tr:last-child td, .line_type_1.table_area.list_top tr:last-child th, .line_type_1.table_area.view tr:last-child td, .line_type_1.table_area.view tr:last-child td {
    border-bottom: 1px solid #dddddd;
}

.line_type_1.table_area.list .last tr:last-child td, .line_type_1.table_area.list_top .last tr:last-child td, .line_type_1.table_area.list_top .last tr:last-child th, .line_type_1.table_area.view .last tr:last-child td, .line_type_1.table_area.view .last tr:last-child td {
    border-bottom: 0;
}
.form_apply .cont .table_area{border-bottom:0}

.table_area table th span{font-weight:400;font-size:13px;}
.table_area table td .txt_blue {
    color: #214985;
    font-size: 13px;
}
.pop_common{position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.51);z-index:9999;}
.pop_common .inner .tit{padding:0 24px;line-height:53px;font-size: 15px;color: #fff;font-weight: 400;background:#1e4787}
.pop_common .inner{width:496px;margin:10% auto;background:#fff;position:relative;}
.pop_common.bg2 .inner{width:637px;}
.pop_common.bg2 .inner .tit{background:#000}
.pop_common .inner .btn_close{position:absolute;right:19px;top:21px;}
.pop_common .inner .cont{padding:25px 35px 0;}
.pop_common .inner .cont table{width:100%;}
.pop_common .inner .cont table th{font-size: 14px;color: #000000;font-weight: 600;padding:0 0 12px;min-height:30px;line-height:30px;text-align:left;vertical-align: top;}

.pop_common .inner .cont_n{padding:23px 18px 0;}
.pop_common.bg2 .inner .cont_n{padding:32px 40px 32px;}
.pop_common.bg2 .inner .cont_n .content{padding:13px 22px 32px;text-align:left;line-height:18px}

.pop_common .total_top_common {
    padding: 0 0 13px;
}
.pop_common .pagination {
    text-align: center;
    padding: 13px 0 12px;
}
.pop_common .pagination li a {
    font-size: 11px;
    height: 25px;
	width:25px;
    line-height: 25px;
}
.pop_common .pagination li {
    width: 25px;
}
.pop_common .table_area.list_type1 td {
    height: 32px;
    font-size: 12px;
}
.pop_common .table_area.list table th {
    font-size: 13px;
    height: 35px;
}

.pop_common .inner .cont table td{padding:0 0 12px;min-height:30px;font-size:14px;}
.pop_common .btn_area{padding:12px 0 30px;}
.pop_common .btn_style2{margin:0 3px;}
.pop_common .input_style1.height{height:129px;}


.list_finl_link{padding:0 0 0 15px;}
.list_finl_link p{display:inline-block;font-size:14px;font-weight:600;width:189px;}
.list_finl_link2 p{width:236px;}
.list_finl_link p span{font-size:14px;font-weight:400;}
.list_finl_link.bg{background:#f8f8fa;border:1px solid #e4e4e4;padding:23px 23px 22px;margin:0 0 19px;}
.list_finl_link.bg li{margin:0 0 5px;}
.list_finl_link.bg a{margin:0;}
.list_finl_link li {
    font-size: 13px;
    color: #333333;
    font-weight: 400;
    margin: 0 0 10px;
    background: url(/cocoms/img/icon_file_board2.png) 0 center no-repeat;
    padding: 0 0 0 17px;
    height: 30px;
    line-height: 30px;
}
.list_finl_link li a{font-size: 13px;color: #214985;font-weight: 400;display:inline-block;margin-left:39px;}
.list_finl_link.bg .list_file{margin:0;}

.table_area.list_type2 th{background:#1e4787;color:#fff;}
.table_area.list_type2 th span{color:#fff;font-weight:400;}
.table_area.list_type2 td:first-child{font-size: 14px;color: #000;font-weight: 700;}
.table_area tr.bg_total td,.table_area td.bg_total{background:#f5f5f5}

.info_top_form .table_area table td {
    padding: 6px 17px;
}

.table_area.list_type2 table td,.table_area.list_type2 table th {
    padding: 6px 13px;
    height: 30px;
}
.table_area.list_type2 th .btn_style1{margin-left: 15px;vertical-align: 0px;}

.list_finl_link .list_file{display:inline-block;margin-left:39px;}

.tab_result{height:37px;border-bottom:1px solid #1e4787;}
.tab_result li{display:inline-block;float:left;}
.tab_result li a{display:block;padding:0 25px;line-height:36px;border:1px solid #dddddd;background:#f5f5f5;border-bottom:0;font-size: 14px;color: #7e7e7e;font-weight: 400;border-left:0}

.tab_result li:first-child{border-left:1px solid #dddddd}
.tab_result li.active a{background:#fff;height:37px;border:1px solid #1e4787;border-bottom:0;font-weight:600;color:#214985;}

.table_area.scroll{overflow-x:scroll;}
.table_area.scroll .inner{width:1802px;}
.table_area.scroll .inner1{width:1289px;}

.txt_exp{padding:16px 0 0;}
.txt_exp li{font-size: 13px;color: #214985;font-weight: 400;line-height:22px;}

.txt_unit{float:right;color: #214985;font-weight:400;}

.table_area .input_style1{color:#333333;}
.table_area.list_type3 td{padding:6px 12px;}

.container.login {
    background: url(/cocoms/img/bg_login.png) 0 center repeat;
    width: auto;
	padding:181px 0 253px;
}
.list_search_check{padding:11px 12px !important;}
.list_search_check .btm_form_box input[type="checkbox"] + label, .list_search_check .btm_form_box input[type="radio"] + label{font-size:13px;line-height: 19px;}
.list_search_check .btm_form_box input[type="checkbox"] + label::before, .list_search_check .btm_form_box input[type="radio"] + label::before {
    top: 4px;
}


.table_area td .btn_style1.view {
    background: #000;
    height: 23px;
    line-height: 23px;
    padding: 0 14px;
    width: auto;
    margin-left: 8px;
	border-radius:2px;
	vertical-align: 2px;
}
.table_area td .receipt{font-size: 13px;color: #214985;font-weight: 600;}

.table_area.member table th{height:30px;padding:9px 21px;text-align:left;}
.table_area.member table td{height:30px;padding:9px 16px;font-size:14px;}
.table_area.sms_step_1 table td{height:30px;padding:6px 16px;font-size:14px;}
.table_area.sms_step_1 table th{height:30px;padding:6px 0;font-size:14px;}
.table_area.sms_step_1 .height.input_style1{height:265px;}
.table_area.sms_step_1 .txt_blue{font-size: 13px;color: #214985;font-weight: 600;display:inline-block;line-height:30px;width:44px;}
.table_area.sms_step_1 
.table_area.sms_step_1 .btn_style1, .table_area.sms_step_1 .btn_style2, .table_area.sms_step_1 .btn_style3 {
    padding: 0 13px;

}

.table_area.member .btm_form_box input[type="checkbox"] + label, .table_area.member .btm_form_box input[type="radio"] + label {
    font-size: 14px;
}
.btm_form_box_r40 .btm_form_box {
    margin-right: 40px;
}

.pop_common .btm_form_box input[type="checkbox"] + label, .pop_common .btm_form_box input[type="radio"] + label {
    font-size: 13px;
}

.sms_step_1 .btm_form_box input[type="checkbox"] + label, .sms_step_1 .btm_form_box input[type="radio"] + label {
    font-size: 13px;
}
.pop_common .btn_style1, .pop_common .btn_style2, .pop_common .btn_style3 {
    padding: 0 0;
	width:86px;
}
table th .txt_byte{line-height:1;color:#8d8c8c;font-size:12px;font-weight:300;}
.sms_step_1 .txt_byte{padding:5px 0 0;}
.pop_common .cont .list_dot li {
    padding-left: 9px;
    line-height: 20px;
    background: url(/cocoms/img/dot_navy.png) 0 center no-repeat;
	background-size:4px auto;
    font-size: 12px;
    color: #171717;
    margin-left: 0;
	font-weight:400;
}
.pop_common .txt_top{padding:0 0 25px;}
.pop_common .txt_top p{font-size: 15px;color: #214985;font-weight: 600;padding:0 0 10px;}

.tit_c_s.txt_blue{font-size: 18px;color: #214985;font-weight: 600;padding: 0 0 21px;}

.wrap_cell_sms{overflow:hidden;width: 1256px;}
.wrap_cell_sms .cell{width:372px;float:left;margin:0 46px 44px 0;}

.wrap_cell_sms .table_area.sms_step_1 .height.input_style1 {
    height: 188px;
    font-size: 12px;
    line-height: 20px;
    padding: 10px 8px;
}
.wrap_cell_sms .button_area{padding:0;}
.wrap_cell_sms .tit_box.tit_box_n {
    margin: 0px 0 15px;
}

.pop_common .txt_top_n{padding:0 0 25px;}
.pop_common .txt_top_n p{font-size: 12px;color: #214985;font-weight: 600;padding:0 0 10px;}
.pop_common .txt_top_n .box{overflow:hidden;padding:12px 18px;background:#f5f5f5;border:1px solid #dddddd;}
.pop_common .txt_top_n .box li{letter-spacing: -1px;float:left;width:33.33%;font-size: 12px;color: #7d7d7d;font-weight: 400;line-height:21px;}

.sms_step_1 .btn_style1.vertical {
    margin-left: 20px;
    vertical-align: 1px;
}

.table_area td .btn_style2.view{padding: 0 14px;width: auto;height: 23px;
line-height: 23px;}

/*신고서*/
.declaration_preview .inner{height:638px;overflow-y:scroll;}
.declaration_preview .inner .preview{background:#fff;border:1px solid #dddddd;padding:15px 25px 25px;}
.declaration_preview .inner .preview .num_top.txt_r{text-align:right;}
.declaration_preview .inner .preview .tit{padding:11px 0 41px;text-align:center;font-size: 24px;font-weight: 600;}
.declaration_preview .inner .preview table{width:100%;}
.declaration_preview .inner .preview table th{background:#f6f6f6;font-size: 14px;color: #333333;border:1px solid #3b3b3b;padding:13px 0;text-align:center;line-height:18px;}
.declaration_preview .inner .preview table th.bg{background:#fff;}
.declaration_preview .inner .preview table th p{padding:2px 0 0;line-height:16px;font-size:12px;color:#333333;font-weight:400;}
.declaration_preview .inner .preview table th span{font-size:14px;color:#333333;font-weight:400;}
.declaration_preview .inner .preview table td{font-size: 13px;color: #333333;border:1px solid #3b3b3b;padding:13px 23px;text-align:center;line-height: 22px;}
.declaration_preview .inner .preview table td.txt_l{text-align:left}
.declaration_preview .inner .preview table tr.height th,.declaration_preview .inner .preview table tr.height td{padding-top:30px;padding-bottom:30px;}
.declaration_preview .inner .preview table td p{display:inline-block;font-size:12px;}
.declaration_preview .inner .preview table.bt0 tr:first-child th{border-top:0;padding-top:9px;padding-bottom:9px;}
.declaration_preview .inner .preview table td.pl12{padding-left:12px;padding-right:0;}
.declaration_preview .inner .preview .txt1{padding:37px 0 68px;font-size: 14px;color: #333333;font-weight: 300;text-align:center;line-height:24px;}
.declaration_preview .inner .preview .txt1 strong{font-size: 14px;color: #333333;font-weight: 600;}
.declaration_preview .inner .preview .sign{text-align:right;}
.declaration_preview .inner .preview .sign p{font-size: 14px;color: #333333;font-weight: 300;padding:0 0 15px;letter-spacing:1px;}
.declaration_preview .inner .preview .txt2{padding:37px 0 41px;font-size: 16px;color: #333333;font-weight: 300;text-align:center;}
.declaration_preview .inner .preview .txt2 strong{letter-spacing:5px;font-size: 16px;color: #333333;font-weight: 600;}

.declaration_preview.pop{width:880px;}
.declaration_preview.pop .inner {
    padding: 0;
}
.declaration_preview.pop .inner .preview {
    border: 0;
}
.declaration_preview.pop .inner {
    height: auto;
    background: none;
}
.declaration_preview.pop .btn_area {
   padding:12px 0 35px;
}
.declaration_preview.pop .btn_style1, .declaration_preview.pop .btn_style2, .declaration_preview.pop .btn_style3 {
    padding: 0 17px;
    height: 33px;
    line-height: 33px;
    font-size: 14px;
}
.declaration_preview p.txt_nofile{font-size: 13px;color: #8f8f8f;font-weight: 300;} 


.pop_common.hide{display:none;}

.declaration_preview .inner .preview .file_change a{display:block;}
.declaration_preview .inner .preview .file_change p{padding:0;font-size: 13px;color: #214985;display:inline-block;}
.declaration_preview .inner .preview .file_change p.txt1{font-weight: 600;}
.declaration_preview .inner .preview .file_change p.txt2{font-weight: 300;padding:0 0 0 25px;width:296px;text-align:left;color:#333333;}
.declaration_preview .inner .preview .file_change p.txt3{font-weight: 300;}

.declaration_preview .inner .preview .list_change p{padding:0;font-size: 13px;color: #214985;display:inline-block;}
.declaration_preview .inner .preview .list_change p.txt1{font-weight: 600;width:230px;padding-left:20px;text-align:left;background: url(/cocoms/img/icon_list_change.png) 0 10px no-repeat;}
.declaration_preview .inner .preview .list_change p.txt2{font-weight: 300;width:292px;padding-right:19px;text-align:left;color:#333333;}

.declaration_preview .inner .preview h2.tit {
    padding: 43px 0 23px;
    font-size: 18px;
}
.txt_email_top{font-size: 12px;color: #214985;font-weight: 300;margin-left:17px ;display: inline-block;}