@charset "UTF-8";
/*Nanum Gothic*/
@font-face {
font-family:'Nanum Gothic';
font-weight:100;
font-style:normal;
src:url('fonts/NanumGothicLight.eot'); /* IE9 Compat Modes */
src:url('fonts/NanumGothicLight.otf') format('opentype'),
url('fonts/NanumGothicLight.eot?#iefix') format('embedded-opentype'),
url('fonts/NanumGothicLight.woff') format('woff'); /* 웹 브라우저 버전 */
}
@font-face {
font-family:'Nanum Gothic';
font-weight:400;
font-style:normal;
src:url('fonts/NanumGothic-Regular.eot'); /* IE9 Compat Modes */
src:url('fonts/NanumGothic-Regular.otf') format('opentype'),
url('fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
url('fonts/NanumGothic-Regular.woff') format('woff'); /* 웹 브라우저 버전 */
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/NanumGothic-Bold.eot);
  src: url(fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(fonts/NanumGothic-Bold.woff2) format('woff2'),
       url(fonts/NanumGothic-Bold.woff) format('woff'),
       url(fonts/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(fonts/NanumGothic-ExtraBold.eot);
  src: url(fonts/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(fonts/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(fonts/NanumGothic-ExtraBold.woff) format('woff'),
       url(fonts/NanumGothic-ExtraBold.ttf) format('truetype');
}

/*NotoSans*/
@font-face {
font-family:'NotoSans';
font-weight:100;
font-style:normal;
src:url('fonts/NotoSans-Light.eot'); /* IE9 Compat Modes */
src:url('fonts/NotoSans-Light.otf') format('opentype'),
url('fonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
url('fonts/NotoSans-Light.woff') format('woff'); /* 웹 브라우저 버전 */
}
@font-face {
font-family:'NotoSans';
font-weight:300;
font-style:normal;
src:url('fonts/NotoSansKR-Regular.eot'); /* IE9 Compat Modes */
src:url('fonts/NotoSansKR-Regular.otf') format('opentype'),
url('fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
url('fonts/NotoSansKR-Regular.woff') format('woff'); /* 웹 브라우저 버전 */
}

@font-face {
font-family:'NotoSans';
font-weight:600;
font-style:normal;
src:url('fonts/NotoSansKR-Medium.eot'); /* IE9 Compat Modes */
src:url('fonts/NotoSansKR-Medium.otf') format('opentype'),
url('fonts/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
url('fonts/NotoSansKR-Medium.woff') format('woff'); /* 웹 브라우저 버전 */
}

@font-face {
font-family:'NotoSans';
font-weight:800;
font-style:normal;
src:url('fonts/NotoSansKR-Bold.eot'); /* IE9 Compat Modes */
src:url('fonts/NotoSansKR-Bold.otf') format('opentype'),
url('fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/NotoSansKR-Bold.woff') format('woff'); /* 웹 브라우저 버전 */
}

body *{font-family: 'Nanum Gothic';}

.info_top{background:#1e4787;}
.info_top .inner{margin:0 auto;position:relative;height:34px;overflow:hidden;}
.info_top ul{float:right;}
.info_top li{float:left;padding:0 0 0 19px;line-height:34px;background: url(../img/bar_info_top.png) 9px center no-repeat;}
.info_top li:first-child{padding-left:0;background:none}
.info_top li a{color:#ffffff;font-weight:100;}

.header{background:#fff;}
.header .inner{max-width:1200px;margin:0 auto;position:relative;height:85px;}

.header .logo{display:inline-block;padding:27px 0 0;}
.header .gnb {
   position:absolute;right: 160px;
   top:0;
}
.header .gnb li{position:relative;float:left;display:inline-block;margin:0 18px 0;line-height:85px;}
.header .gnb li a {
    font-size: 17px;
    color: #333333;
	font-weight:600;
}


.main_slider {height:240px;}
.main_slider .inner{max-width:1200px;margin:0 auto;position:relative;}
.main_slider li .inner{height:240px;position:relative;}
.main_slider .inner li .img{position:absolute;left:0;top:0;}
.main_slider .inner li .ment{position:relative;z-index:9;padding:57px 0 0 521px;}
.main_slider .inner li .ment .txt1{font-family:'NotoSans';text-shadow:1px 1px 1px rgba(0, 0, 0, 0.18);font-size: 39px;color: #fff;padding:0 0 8px;font-weight:800;letter-spacing: -1px;}
.main_slider .inner li .ment .txt2{font-family:'NotoSans';font-size: 16px;color: #383838;font-weight:300;line-height:29px;letter-spacing: -1px;}
.main_slider .inner li .ment .txt1 span{font-size: 35px;font-weight: 100;}

.main_slider{position:relative;}
.main_slider li.slide01{background:#93e4f2}
.main_slider li.slide02{background:#ece5e3}
.main_slider li.slide03{background:#f9e0d3}
.main_slider .bx-controls-direction a{display:inline-block;width:20px;height:38px;position:absolute;top:96px;font-size:0;}
.main_slider .bx-controls-direction .bx-prev{background: url(../img/img-slide-prev-btn.png) no-repeat;left:15%;}
.main_slider .bx-controls-direction .bx-next{background: url(../img/img-slide-next-btn.png) no-repeat;right:15%;}

.main_slider .bx-wrapper .bx-pager {
	z-index:999;
	position:absolute;
	left:0;
	bottom:25px;
	width:100%;
	text-align:center;
}

.main_slider .bx-wrapper .bx-pager .bx-pager-item,
.main_slider .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.main_slider .bx-wrapper .bx-pager.bx-default-pager a {
	background: #fff;
	text-indent: -9999px;
	display: block;
	width: 13px;
	height: 13px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.main_slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.main_slider .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #1e4787;
}

.main_banner{overflow:hidden;padding:35px 0 32px;}
.main_banner .cell{width:380px;height:181px;float:left;position:relative;}
.main_banner .cell .icon{position:absolute;left:54px;top:30px;}
.main_banner .cell .ment{padding:26px 0 0 134px;}
.main_banner .cell2 .ment{padding:26px 0 0 145px;}
.main_banner .cell .ment p{color:#fff;}
.main_banner .cell .ment .txt1{font-size: 22px;font-weight: 600;padding:0 0 10px;}
.main_banner .cell .ment .txt2{font-size: 13px;font-weight: 100;line-height:20px;}
.main_banner .cell .wrap_btn{text-align:center;padding:27px 0 0;}
.main_banner .cell .wrap_btn .btn{display:inline-block;width:154px;line-height:31px;border:1px solid #fff;border-radius:20px;font-size: 13px;color: #fff;text-align:center;margin:0 5px;}
.main_banner .cell1{background: url(../img/bg_banner_main_1.png) center center no-repeat;}
.main_banner .cell2{background: url(../img/bg_banner_main_2.png) center center no-repeat;margin:0 30px;}
.main_banner .cell3{background: url(../img/bg_banner_main_3.png) center center no-repeat;}

.main_list_board {
    overflow: hidden;
    padding: 0 0 35px;
}
.main_list_board .cell{width:380px;height:210px;float:left;position:relative;box-sizing:border-box}
.main_list_board .cell.center{margin:0 30px;}

.main_list_board .list_board{background:#fff;padding:17px 15px 0;}
.main_list_board .list_board .tit{border-bottom:1px solid #000000;padding:1px 0 11px;font-size: 18px;color: #333333;font-weight: 600;overflow:hidden;}
.main_list_board .list_board .tit .link_more{float:right;font-size: 13px;color: #214985;display:inline-block;padding-right:12px;background: url(../img/icon_more_main.png) right center no-repeat;font-weight:300;margin:3px 0 0;}

.main_list_board .list_board .list{padding:9px 10px;}
.main_list_board .list_board .list li{line-height:27px;overflow:hidden;padding-left:11px;background: url(../img/dot_main_list.png) 0 center no-repeat;}
.main_list_board .list_board .list li *{color:#676767;font-weight: 100;}
.main_list_board .list_board .list li .date{float:right;}

/*.main_list_board .banner .banner_1{position:relative;padding:39px 0 0 143px;height:130px;box-sizing:border-box;background:#d9e0e7 url(../img/icon_main_banner_1.png) 18px 0 no-repeat;}
.main_list_board .banner .banner_1{font-size: 20px;line-height:26px;margin:0 0 4px;}
.main_list_board .banner .banner_1 strong{color:#214985;font-size: 20px;display:block;font-weight:600;}

.main_list_board .banner_2{overflow:hidden;}
.main_list_board .banner_2 a{display:block;float:left;box-sizing:border-box;width:188px;height:78px;padding:17px 0 0 58px;font-size: 14px;font-weight: 600;line-height:20px;}
.main_list_board .banner_2 .banner_2_1 {background:#fff url(../img/icon_main_banner_2.png) 12px 21px no-repeat;margin-right:4px;}
.main_list_board .banner_2 .banner_2_2 {background:#fff url(../img/icon_main_banner_3.png) 12px 21px no-repeat;}
*/
.main_list_board .banner .banner_1{margin:0 0 4px;}
.main_list_board .banner_2{overflow:hidden;}
.main_list_board .banner_2 a{display:block;float:left;width:188px;height:78px;}
.main_list_board .banner_2 .banner_2_1 {margin-right:4px;}

.footer{background:#3b3e43;}
.footer .inner{width:1200px;margin:0 auto;position:relative;overflow:hidden;box-sizing:border-box;padding:22px 0px 22px 212px;}
.footer .logo{display:inline-block;position:absolute;left:0;top:27px;}
.footer .inner p{font-size: 12px;color: #d3d3d3;font-weight: 100;line-height:20px;}
.footer .inner p *{font-size: 12px;color: #d3d3d3;}

.menu_tail{background:#494d54;}
.menu_tail .inner{max-width:1200px;width:1200px;margin:0 auto;}
.menu_tail ul{overflow:hidden;}
.menu_tail li{float:left;padding:0 0 0 28px;line-height:38px;background: url(../img/bar_tail.png) 13px center no-repeat;}
.menu_tail li:first-child{padding-left:0;background:none}
.menu_tail li a{color:#e0dfdf;font-size:13px;}
.main{background:#f2f2f2;}
.footer p.copy{color:#918f8f;}

.container{width:1200px;margin:0 auto;overflow:hidden;}
.mein .container{padding:0 0 75px;}

.gnb .depth2{background:#fff;z-index:9999;display:none;position:absolute;width:156px;top:81px;left:50%;margin-left:-78px;


    -moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);


}
.gnb .depth2 li{float:none;display:block;padding:0;margin:0;border-bottom:1px solid #dddddd;line-height:41px;text-align:center;}
.gnb .depth2 li a{font-size: 13px;color: #333333;font-weight: 400;}

.gnb li.menu01.on .menu,.gnb li.menu01 .menu.active{color:#35a9f2;}

.gnb .menu01 .depth2{border-top:4px solid #35a9f2;}
.gnb .menu01 .depth2 a:hover{color:#44aff3;}

.gnb li.menu02.on .menu,.gnb li.menu02 .menu.active{color:#34c94c;}

.gnb .menu02 .depth2{border-top:4px solid #22c53f;}
.gnb .menu02 .depth2 a:hover{color:#34c94c;}

.gnb li.menu03.on .menu,.gnb li.menu03 .menu.active{color:#faaf09;}

.gnb .menu03 .depth2{border-top:4px solid #faaf09;}
.gnb .menu03 .depth2 a:hover{color:#faaf09;}

.gnb li.menu04.on .menu,.gnb li.menu04 .menu.active{color:#ff565c;}

.gnb .menu04 .depth2{border-top:4px solid #ff565c;}
.gnb .menu04 .depth2 a:hover{color:#ff565c;}

.gnb li.menu05.on .menu,.gnb li.menu05 .menu.active{color:#4ec2b4;}

.gnb .menu05 .depth2{border-top:4px solid #4ec2b4;}
.gnb .menu05 .depth2 a:hover{color:#4ec2b4;}


.gnb li.menu06.on .menu,.gnb li.menu06 .menu.active{color:#E2A9F3;}

.gnb .menu06 .depth2{border-top:4px solid #E2A9F3;}
.gnb .menu06 .depth2 a:hover{color:#E2A9F3;}


.gnb li.menu057on .menu,.gnb li.menu07 .menu.active{color:#BCA9F5;}

.gnb .menu07 .depth2{border-top:4px solid #BCA9F5;}
.gnb .menu07 .depth2 a:hover{color:#BCA9F5;}

.gnb .depth3{background:#f5f5f5;z-index:9999;display:none;
text-align:left;
padding:8px 0 8px 26px;
box-sizing: border-box;
}
.gnb .depth3 li{float:none;display:block;padding:0;margin:0;border-bottom:0;line-height:27px;}
.gnb .depth3 li a{font-size: 12px;color: #333333;font-weight: 300;background: url(../img/dot_depth3.png) 0 center no-repeat;padding-left:8px;display:block;text-align:left;}


.tit_sub_c{font-size: 27px;color: #fff;font-weight: 600;padding:31px 0 33px;border-bottom:1px solid #d4d4d4;background-size:cover !important;text-align:center;}
.tit_sub_c p{font-size: 14px;color: #fff;font-weight: 400;padding:13px 0 0;}

.tit_sub_c.blue{background: url(../img/bg_tit_sub_blue.png) center center no-repeat;}
.tit_sub_c.yellow{background: url(../img/bg_tit_sub_yellow.png) center center no-repeat;}
.tit_sub_c.pink{background: url(../img/bg_tit_sub_pink.png) center center no-repeat;}
.tit_sub_c.green{background: url(../img/bg_tit_sub_green.png) center center no-repeat;}
.tit_sub_c.my{background: url(../img/bg_tit_sub_my.png) center center no-repeat;}
.tit_sub_c.sub05{background: url(../img/bg_tit_sub_sub05.png) center center no-repeat;}


.step_sub{border-bottom:1px solid #d4d4d4;}
.step_sub.line{border-top:1px solid #d4d4d4;}
.step_sub .inner{width:1200px;margin:0 auto;overflow:hidden;}
.step_sub .inner li{float:left;padding:0 17px 0 39px;line-height:35px;font-size: 12px;color: #333333;font-weight: 400;background: url(../img/arrow_step_sub.png) 0 center no-repeat;}

.step_sub .inner li.home{font-size:0;background: url(../img/icon_step_home.png) 0 center no-repeat;padding:0;width:30px;}

.box_top_common{overflow:hidden;padding:15px 39px;margin:30px 0;border:1px solid #e4e4e4;background:#f8f8fa;}
.box_top_common li,.box_top_common .txt_dot{padding-left:12px;background: url(../img/dot_navy.png) 0 11px no-repeat;font-size: 12px;color: #333333;font-weight: 400;line-height:25px;}
.box_top_common .txt_dot{font-size:14px;display:inline-block;}

.table_area table {width:100%; border-top:1px solid #3b3b3b; }
.table_area table th {padding:13px 0; font-size:13px; color:#010101; background:#f5f5f5; border-bottom:1px solid #dddddd; border-left:1px solid #dddddd;}
.table_area table td {padding:13px 20px; color:#333333; font-size:13px; border-bottom:1px solid #dddddd; border-left:1px solid #dddddd;}
.table_area table td:first-child,.table_area table th:first-child{border-left:0;}

.form_apply table td,.form_apply .table_area table tbody th{border:0;}
.form_apply .table_area table tbody th{background:#fff;text-align:left;padding:11px 20px 15px; color:#333333; font-size:13px;}
.form_apply .table_area table tbody tr:first-child th,.form_apply .table_area table tbody tr th.pt{padding-top:23px;}
.form_apply .table_area table tbody tr:last-child td{padding-bottom:23px;}
.form_apply .table_area table tbody td {
    padding: 0 20px 8px;
}
.form_apply .cont .table_area table tbody td {
    padding: 0 0px 8px 20px;
}
.form_apply td span{line-height:30px;display:inline-block;color:#333333;font-size:13px;width:16px;text-align:center;}

.input_style1 {
    width: 100%;
    height: 30px;
    padding: 0 9px;
    line-height: 30px;
    border: 1px solid #cccccc;
   color:#333333; 
	font-size:13px; 
    box-sizing: border-box;
}
.input_style1.disabled{background:#f8f8fa}

.input_style1.others{width:153px;}
.aside .input_style1.num1{width:66px;}
.aside .input_style1.num2{width:98px;}

.input_style1.address1{width:202px;margin-right:3px;}
.input_style1.phone {
    width: 55px;
}
.input_style1.resident {
    width: 130px;
}
.input_style1.margin{margin:7px 0;}

.btn_style1, .btn_style2,.btn_style3 {padding:0 13px; height:30px; display:inline-block; line-height:30px; background:#000; font-size:12px; text-align:center; color:#fff;vertical-align: top; border:0;cursor:pointer}
.btn_style2{background:#1e4787;}
.btn_style3{background:#fff;color:#333333;border:1px solid #d4d4d4;}

.tit_bar {font-size: 24px;color: #333333;font-weight: 600;padding:19px 0 24px;}
.tit_bar.blue{background: url(../img/bar_tit_sub_blue.png) 0 0 no-repeat;}
.tit_bar.yellow{background: url(../img/bar_tit_sub_yellow.png) 0 0 no-repeat;}
.tit_bar.pink{background: url(../img/bar_tit_sub_pink.png) 0 0 no-repeat;}
.tit_bar.green{background: url(../img/bar_tit_sub_green.png) 0 0 no-repeat;}
.tit_bar.my{background: url(../img/bar_tit_sub_my.png) 0 0 no-repeat;}
.tit_bar.sub05{background: url(../img/bar_tit_sub_05.png) 0 0 no-repeat;}

.form_apply{overflow:hidden;}

.form_apply .aside{width:317px;float:left;}
.form_apply .cont{width:882px;float:left;border-left:1px solid #dddddd;}

.btm_form_box {padding:5px 0;display:inline-block;}
.btm_form_box.first {margin-right:0;width:180px;}
.btm_form_box.pt0 {padding-top:0px; }
.btm_form_box.inner_line_sec {padding-top:0px; }
.btm_form_box.inner_line_sec label {color:#171717 !important; }
.btm_form_box input[type="checkbox"],.btm_form_box input[type="radio"] {display:none; }
.btm_form_box input[type="checkbox"] + label,.btm_form_box input[type="radio"] + label {padding-left:20px; display:inline-block; position:relative; font-size:12px; color:#171717; line-height:13px; cursor:pointer;}
.list_copy .btm_form_box input[type="checkbox"] + label,.list_copy .btm_form_box input[type="radio"] + label { color:#214985;}

.btm_form_box input[type="checkbox"] + label:before,.btm_form_box input[type="radio"] + label:before {content:''; width:14px; height:14px; position:absolute; left:0px; top:0px; display:inline-block; background:url(../img/icon_check.png) 0 0 no-repeat; }
.btm_form_box input[type="checkbox"]:checked + label:before,.btm_form_box input[type="radio"]:checked + label:before{background:url(../img/icon_check_on.png) 0 0 no-repeat;}

.txt_point{font-size: 13px;color: #ff0000;font-weight: 600;}


.select_style {display:inline-block; height:30px; padding:0 26px 0 11px; line-height:30px; font-size:13px; color:#333333; border:1px solid #cccccc; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff url(../img/icon_combo.png) 93% center no-repeat; }
.select_style.pr{padding-right:43px;}
.select_style::-ms-expand {display: none;}

.btm_form_box {
    margin-right: 22px;
}
.btm_form_box.first label{color:#171717 !important;}
.btm_form_box.last{margin-right:9px;}

.insert_file_target {display:none; }
.form_btn {padding:0 15px;}

.list_file .input_style1{font-size:11px;background:#f8f8fa;width:331px;}

.form_apply .cell{border-top:1px solid #dddddd;padding:28px 22px 20px;}
.form_apply .cell .tit{font-size: 14px;color: #282828;font-weight: 600;background: url(../img/icon_box_navy.png) 0 3px no-repeat;padding:0 0 11px 17px;}
.form_apply .cell .txt {
    font-size: 13px;
    color: #171717;
    background: url(../img/icon_file_s.png) 0 center no-repeat;
    padding: 0 0 0 16px;
    line-height: 26px;
	margin-left:15px;
}
.form_apply .cell .txt_inner {
    padding: 0 0 6px 30px;
    line-height: 22px;
    color: #333333;
    font-size: 12px;
}
.form_apply .cell .txt span{font-size: 13px;color: #171717;font-weight:100;}
.form_apply .cell .txt span.txt_blue{color:#214985;font-weight:600;}
.form_apply .cell .margin{margin-left:13px;}

.form_apply .list_file{overflow:hidden;margin:0 0 13px;}
.form_apply .list_file .txt{width:250px;float:left;}

.form_apply .input_style1.height{height:88px;}


.txt_commission{padding:36px 0 39px;text-align:center;background:#f9f9f9;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;}
.txt_commission .num{font-size: 16px;color: #214985;font-weight: 600;}
.txt_commission .num strong{font-size: 22px;color: #214985;font-weight: 600;}
.txt_commission .txt{padding:13px 0 0;color: #636161;}


.form_apply .txt_b{padding:20px 0;text-align:center;border-bottom:1px solid #3b3b3b;}

.btn_area{text-align:center;}
.form_apply .btn_area{padding:18px 0 83px;}
.form_apply .btn_area .btn{margin:0 4px;padding: 0 28px;}

.pagination{text-align:center;padding:20px 0 53px;}
.pagination li{display:inline-block;border:1px solid #cecece;border-radius:2px;width:30px;vertical-align: top;}
.pagination li a{display:block;font-size: 13px;color: #000000;height:30px;line-height:30px;font-weight: 600;}
.pagination li.active a{color: #1e4787;}
.pagination li.active{border:1px solid #1e4787;}
.pagination li.prev a{background: url(../img/page_prev.png) 0 center no-repeat;}
.pagination li.next a{background: url(../img/page_next.png) 0 center no-repeat;}
.pagination li.prev{margin-right:6px;}
.pagination li.next{margin-left:6px;}

.table_area .fileDown{text-indent:9999px;display:inline-block;width:15px;height:19px;background: url(../img/icon_file.png) 0 center no-repeat;font-size:0;vertical-align: top;}

.table_area.list table,.table_area.view table{border-bottom:1px solid #3b3b3b}
.table_area.list td{text-align:center;}
.table_area.list td.subject{text-align:left;}
.table_area.list td .new{color:#ff0000;margin-left:5px;}
.table_area.list table th {font-size: 14px;}
.table_area.list tr:last-child td,.table_area.list_top tr:last-child td,.table_area.list_top tr:last-child th,.table_area.view tr:last-child td,.table_area.view tr:last-child td{border-bottom:1px solid #000;}

.search_form_common{display:inline-block;}

.box_top_common.date{padding:18px 23px;margin: 3px 0 30px;}
.box_top_common.date .txt_dot{margin:0 22px 0 0;}
.box_top_common.date span{color: #333333;margin:0 12px 0 4px;display:inline-block;}


.total_top_common .search_form_common{float:right;}
.search_form_common .input_style1{width:317px;}
.search_form_common .btn_style2{padding:0 25px;}

.total_top_common{line-height:18px;overflow:hidden;padding:0px 0 18px;}
.total_top_common .total{display:inline-block;float:left;font-size: 13px;color: #214985;}
.total_top_common .total strong{font-size: 13px;color: #214985;font-weight: 500;}
.total_top_common .select_style{float:right;}
.tit_bar.mt{margin:30px 0 0;}

.button_area{overflow:hidden;text-align:center;padding:0 0 80px;}
.button_area *{vertical-align:top}
.button_area .line{display:inline-block;width:1px;height:33px;background:#d4d4d4;margin:0 17px;}

.button_area .btn{padding: 0 18px;}

.declaration_preview .inner{height:auto;background: url(../img/bg_dotted.png) 0 0 repeat;}

.button_area .search_form_common .input_style1{width:233px}

.table_area .fileDown.board {
    background: url(../img/icon_file_board.png) 0 center no-repeat;
}

.table_area.list.board table th,.table_area.list.board table td{border-left:1px solid #dddddd;}
.table_area.list.board table th:first-child,.table_area.list.board table td:first-child{border-left:0;}

.table_area.view{text-align:left;margin:0 0 51px;}
.table_area.view th,.table_area.view td{padding:13px 12px;}
.table_area.view .subject{font-size: 14px;}
.table_area.view .subject .date{float:right;font-size: 12px;color: #656565;font-weight: 400;}
.table_area.view .subject .date i{font-style:normal;display:inline-block;margin:0 7px;color:#1e4787;}
.table_area.view .cont{line-height:25px;padding:13px 12px 63px;}
.table_area.view .fileDown{margin-right:6px;vertical-align: 13px;}

.menu_aside .tit_bar,.cont_notice .tit_bar{border-bottom:1px solid #3b3b3b}
.menu_aside{width:229px;float:left;}
.cont_notice{width:938px;float:right;padding:0 0 120px;}

.menu_aside li{height:47px;box-sizing:border-box;padding:15px 0 0;border-bottom:1px solid #c8c8c8;}
.menu_aside li a{display:inline-block;font-size: 14px;font-weight: 700;padding:0 0 2px;}
.menu_aside li:hover a,.menu_aside li.active a{border-bottom:1px solid #5f5f5f}

.cont_notice .box_top_common {
    margin: 19px 0 31px;
}
.box_top_common .txt_center{text-align:center;font-size: 14px;color: #333333;font-weight: 600;padding:20px 0;}
.box_top_common .txt_center strong{color:#214985;font-size: 14px;}
.cont_notice .tit_box {
    margin: 17px 0 7px;
}
.tit_box{
	font-size: 13px;
	color: #171717;
	font-weight: 600;
	background: url(../img/icon_box_navy.png) 0 3px no-repeat;
	padding: 2px 0 2px 19px;
}
.cont_notice .list_icon{padding:0 0 0 19px;}
.cont_notice .list_icon li{font-size: 13px;color: #171717;font-weight: 400;line-height:30px;position:relative;padding-left:8px;}
.cont_notice .list_icon li:before{content:'-';position:absolute;left:0;top:3px;}
.cont_notice .txt_b{font-size: 14px;color: #214985;font-weight: 600;padding:38px 0 0;}
.cont_notice .txt_b a{font-size: 14px;color: #214985;}
.cont_notice .txt_b.pd0{padding:19px 0 0;}
.cont_notice .list_txt li{font-size: 13px;color: #171717;font-weight: 400;line-height:30px;position:relative;padding-left:16px;}


.tab_property{position:relative;}
.tab_property .tab {
    font-size: 13px;
    display: block;
    padding: 17px 49px;
	background: url(../img/arrow_q_off.png) 97% center no-repeat;
	cursor:pointer;
	border-bottom:1px solid #dddddd;
	position:relative;
	font-weight: 600;
}
.tab_property .tab:after{content:'';background: url(../img/icon_q.png) 0 center no-repeat;position:absolute;width:20px;height:20px;left:20px;top:50%;margin-top:-10px;}

.tab_property .tab.active{background: url(../img/arrow_q_on.png) 97% center no-repeat;}

.cont_notice .list_qa{margin:29px 0 10px;border-top:1px solid #3b3b3b;border-bottom:1px solid #3b3b3b;}
.tab_property .item{display:none;background: #f8f8fa url(../img/icon_a.png) 20px 18px no-repeat; padding:17px 49px;font-size: 13px;line-height:24px;border-bottom:1px solid #dddddd;}
.tab_property .item a{font-size: 13px;color:#214985;font-weight:600;}
.tab_property.border0{border:0}
.tab_property .item2{background: #f8f8fa url(/cocoms/img/icon_a.png) 20px 18px no-repeat; padding:17px 49px;font-size: 13px;line-height:24px;border-bottom:1px solid #dddddd;}
.tab_property .item2 a{font-size: 13px;color:#214985;font-weight:600;}

.cont_notice .input_style1.height {
    height: 187px;
}
.cont_notice .table_area table th {
    font-size: 14px;
}
.cont_notice .btn_area{padding:21px 0 0;}
.cont_notice .btn_area .btn_style2{padding:0 33px;}


.declaration_preview .tab{overflow:hidden;}
.declaration_preview .tab li{background:#fff;text-align:center;width:50%;line-height:42px;float:left;border-bottom:1px solid #1e4787;}
.declaration_preview .tab li a{display:block;font-size: 14px;color: #333333;}
.declaration_preview .tab li.active a{color: #fff;}
.declaration_preview .tab li.active{background:#1e4787;}

.join_content .list_step{overflow:hidden;border-top:1px solid #e4e4e4;}
.join_content .list_step li{position:relative;box-sizing:border-box;width:25%;float:left;padding:0px 35px 0 0px;height:68px;border-bottom:1px solid #e4e4e4;background:#f8f8fa;}
.join_content .list_step li .wrap{padding:17px 0px 0 91px;height:67px;box-sizing: border-box;}
.join_content .list_step li:after{content:'';width:36px;height:68px;position:absolute;right:0;top:-1px;background: url(../img/arrw_join.png) 0 0 no-repeat;border-bottom:1px solid #e4e4e4;}
.join_content .list_step li.active:after{background: url(../img/arrw_join_on.png) 0 0 no-repeat;}
.join_content .list_step li p{font-size: 13px;color: #9e9e9e;font-weight: 100;padding:0 0 3px;}
.join_content .list_step li strong{font-size: 15px;color: #333333;font-weight: 600;}
.join_content .list_step li.active:before{content:'';width:36px;height:68px;position:absolute;left:-36px;top:-1px;background: url(../img/arrw_join_on_after.png) 0 0 no-repeat;}

.join_content .list_step li:nth-child(1) .wrap {
    padding: 17px 0px 0 58px;
}

.join_content .list_step li:first-child{border-left:1px solid #e4e4e4;}
.join_content .list_step li:last-child{border-right:1px solid #e4e4e4;}
.join_content .list_step li:last-child:after{display:none;}
.join_content .list_step li.active:last-child{background:#1e4787}

.join_content .list_step li.active .wrap{background:#1e4787;}
.join_content .list_step li.active p{color: #96b4e3;}
.join_content .list_step li.active strong{color: #fff;}


.join_content .type {
    overflow: hidden;
    padding: 55px 0 66px;
    width: 718px;
    margin: 0 auto;
}
.join_content .type li{box-sizing:border-box;width:50%;float:left;text-align:center;height:188px;border-left:1px solid #dadada;}
.join_content .type2 li{width:33.33%;}
.join_content .type2 {
    padding: 40px 0 41px;
}
.join_content .type li .icon{padding:31px 0 0;height:119px;}
.join_content .type li:first-child{border-left:0;}

.join_content .inner{width:1007px;margin:0 auto;}
.join_content .type .btm_form_box label{font-size: 15px;color: #000;font-weight: 700;}
.join_content .type .btm_form_box label span{font-size: 12px;font-weight: 600;}

.join_content .ment_b .tit{font-size: 15px;color: #214985;font-weight: 600;}
.join_content .ment_b .box_top_common {
    margin: 13px 0 63px;
	padding: 15px 25px;
}
.join_content .ment_b .box_top_common .cell{padding:0 0 0 79px;position:relative;}
.join_content .ment_b .box_top_common .cell.pb {
    padding-bottom: 2px;
}
.join_content .ment_b .box_top_common .txt_blue{padding:11px 0 0;}
.join_content .ment_b .box_top_common .txt_blue li{padding-left:0;background:transparent;color:#214985;font-size:11px;line-height:21px;}
.join_content .ment_b .box_top_common .cell .tit{position:absolute;left:0;top:7px;font-size: 13px;color: #333333;font-weight: 700;}

.join_content .ment_b.step_1{width:718px;margin:0 auto;}

.join_content .button_area .btn_style1,.join_content .button_area .btn_style2 {
    padding: 0 44px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
	margin:0 3px;
	min-width:120px;
	box-sizing:border-box;
}
.join_content .button_area{padding-bottom:125px;}
.join_content .input_area{box-sizing:border-box;border:3px solid #f0f0f0;width:718px;margin:0 auto 38px;height:87px;padding:25px 31px;}
.join_content .input_area.margin {
    margin: 37px auto 41px;
}

.join_content.corporate .input_area .tit.ml {
    margin-left: 22px;
}
.join_content.corporate .input_area {
    padding: 25px 22px;
}
.join_content.corporate .input_area {
    padding: 25px 22px;
    height: auto;
}
.join_content.corporate .input_area .tit{margin:0;width:43px;}
.join_content.corporate .input_area .tit.ml{margin-right:0;width:92px;padding:0;}


.join_content .input_area .input_style1{width:143px;}
.join_content .input_area .input_style1.num2{width:98px;}
.join_content.corporate .input_area2 .input_style1.num1{width:158px;}

.join_content.corporate .input_area2 .cell1{padding:0 0 12px}

.join_content .input_area .tit{display:inline-block;padding:0 12px 0 0;line-height:30px;font-size: 13px;color: #333333;font-weight: 600;}
.join_content .input_area .tit.ml{margin-left:22px;}
.join_content .input_area span{display:inline-block;margin:0 6px;}

.join_content .tit_top{padding:39px 0 0;text-align:center;font-size: 18px;color: #000;font-weight: 600;}
.join_content .tit_top span{display: block;padding:11px 0 0;font-size: 12px;color: #706e6e;font-weight: 400;}
.join_content .tit_top.mb{margin-bottom:41px;}

.join_content .cell_agree {
    margin: 35px 0 35px;
}
.join_content .cell_agree .tit{font-size: 14px;color: #214985;font-weight: 600;line-height:53px;padding:0 18px;background:#f5f5f5;border:1px solid #dddddd;overflow:hidden;}

.join_content.corporate .input_area2 .tit.ml {
    margin-left: 38px;
}

.join_content.normal .input_area .tit.ml {
    margin-left: 51px;
}
.join_content.normal .input_area {
    padding: 25px 41px;
}

.join_content .cell_agree .tit .btm_form_box{display:inline-block;float:right;padding:0;margin:0;}
.join_content .cell_agree .tit .btm_form_box label{font-size: 13px;}
.join_content .cell_agree .tit span{font-size: 14px;color: #f04545;font-weight: 600;}

.join_content .cell_agree .txt{border:1px solid #dddddd;border-top:0;padding:26px 18px 15px;box-sizing:border-box;height:258px;overflow-y:scroll;}
.join_content .cell_agree .txt{font-size: 13px;color: #333333;line-height:20px;}
.join_content .cell_agree .txt *{font-size: 13px;color: #333333;}
.join_content .cell_agree .txt strong{font-weight: 700;}
.join_content .cell_agree .txt .txt_inner{padding-left:13px;font-weight: 600;}
.join_content .cell_agree .btm_form_box {
    padding: 37px 0 17px;
    text-align: center;
    display: block;
}

.join_content .table_area.list_top{margin:0 0 53px;}
.join_content .table_area.list_top table th {
    padding: 13px 20px;
    font-size: 14px;
    text-align: left;
}
.join_content .table_area.list_top table td {
    padding: 9px 17px;
    font-size: 14px;
    height: 30px;
}
.join_content .table_area.list_top .input_style1{width:306px;}
.join_content .table_area.list_top .input_style1.phone {
    width: 125px;
}
.join_content .table_area.list_top .select_style{font-size:12px;}
.join_content .table_area.list_top .input_style1.w169{width:169px;}
.join_content .table_area.list_top .input_style1.w148{width:148px;}
.join_content .table_area.list_top .input_style1.num{width:105px;}
.join_content .table_area.list_top td span {
    line-height: 30px;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    width: auto;
    text-align: center;
    padding: 0 2px;
}
.join_content .table_area.list_top td .btn_style1{margin-left:3px;}

.join_content .txt_complet {
    text-align: center;
    padding: 110px 0 61px;
}
.join_content .txt_complet p{font-size: 22px;font-weight: 600;padding:25px 0 0;}
.join_content .txt_complet p.txt{font-size: 13px;color:#214985;font-weight: 500;padding:12px 0 0;}
.login_content.login_content_n {
    padding: 14px 0 137px;
    width: 1005px;
    margin: 0 auto;
}
.login_content{padding:57px 0 82px;width:1005px;margin:0 auto;}
.login_content .inner{overflow:hidden;padding:0 0 25px;}
.login_content .inner .cell{float:left;width:407px;height:279px;}
.login_content .inner .cell2{float:right;width:407px;padding-left:97px;border-left:1px solid #e4e4e4;}
.login_content .inner .cell .tit{padding:11px 0 18px;font-size: 18px;color: #214985;font-weight: 600;border-bottom:1px solid #e1e1e1;margin:0 0 29px;}
.login_content .inner .cell .tit span{font-size: 15px;color: #214985;}
.login_content .inner .cell1 .btn_style2{display:block;box-sizing:border-box;height:79px;line-height:79px;font-size: 16px;}
.login_content .inner .cell2 .btn_style2{box-sizing:border-box;position:absolute;right:0;top:0;width:120px;height:94px;line-height:94px;font-size: 16px;}
.login_content .inner .cell .check{padding:16px 0 19px;}
.login_content .inner .cell .check strong{display:inline-block;font-weight: 700;margin:0 15px 0 0;}
.login_content .inner .cell1 .btn_style3{display:block;box-sizing:border-box;height:46px;line-height:46px;font-size: 14px;margin:8px 0 0;}

.login_content .inner .input_login{padding:0 133px 0 0;position:relative;height:94px;}
.login_content .inner .input_login .input_style1{border:2px solid #dddddd;font-size:11px;height:41px;margin:0 0 13px;}
.login_content .inner .link{overflow:hidden;padding:21px 0 0;border-top:1px solid #e1e1e1}
.login_content .inner .link a{font-size: 13px;color: #214985;font-weight: 300;}


.login_content_n .inner{overflow:hidden;padding:0 0 25px;}
.login_content_n .inner .cell{width:407px;height:279px;}
.login_content_n .inner .cell2 {
    width: 513px;
    padding-left: 0;
    border-left: 0;
    margin: 0 auto;
	float:none;
}


.login_content .inner .cell .tit{padding:11px 15px 18px;font-size: 18px;color: #214985;font-weight: 600;border-bottom:1px solid #e1e1e1;margin:0 0 29px;}
.login_content .inner .cell .tit span{font-size: 15px;color: #214985;}
.login_content .inner .cell1 .btn_style2{display:block;box-sizing:border-box;height:79px;line-height:79px;font-size: 16px;}
.login_content .inner .cell2 .btn_style2{box-sizing:border-box;position:absolute;right:0;top:0;width:120px;height:94px;line-height:94px;font-size: 16px;}
.login_content .inner .cell .check {

    padding: 16px 15px 19px;

}
.login_content_n .box_top_common{width:513px;margin:0 auto;box-sizing:border-box;padding: 15px 0 15px 27px;letter-spacing:-1px;}
.login_content .inner .cell .check strong{display:inline-block;font-weight: 700;margin:0 15px 0 0;}
.login_content .inner .cell1 .btn_style3{display:block;box-sizing:border-box;height:46px;line-height:46px;font-size: 14px;margin:8px 0 0;}

.login_content .inner .input_login{padding:0 133px 0 0;position:relative;height:94px;margin: 0 15px;}
.login_content .inner .input_login .input_style1{border:2px solid #dddddd;font-size:11px;height:41px;margin:0 0 13px;}
.login_content .inner .link {
    overflow: hidden;
    padding: 21px 16px 0;
    border-top: 1px solid #e1e1e1;
}
.login_content .inner .link a {
    font-size: 13px;
    color: #214985;
    font-weight: 400;
}
.login_content .inner .link a.right{font-weight:700;}
.login_content .inner .link a.margin{margin-right:41px;}
.login_content.regi .cell .btn_style2{position:static;width:168px;height:41px;line-height:41px;font-size:14px;display:inline-block;}
.login_content.regi .cell .button_area{padding:32px 0 0;}
.login_content.regi .inner .cell{height:187px;}
.login_content .box_input strong{display:inline-block;color:#333333;font-size:13px;font-weight: 700;margin:0 13px 0 0;}
.login_content .box_input .input_style1{width:149px;}
.login_content .cell2 .box_input .input_style1{width:89px;}
.login_content .box_input span {
    line-height: 30px;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    width: 18px;
    text-align: center;
}


.join_content .list_step_id{border:1px solid #e4e4e4;overflow:hidden;background:#f8f8fa;margin:0 0 60px;}
.join_content .list_step_id li{box-sizing:border-box;border-left:1px solid #e4e4e4;width:20%;float:left;line-height:48px;text-align:center;font-size: 14px;color: #333333;font-weight: 600;}
.join_content .list_step_id li:first-child{border-left:0}
.join_content .list_step_id li.active{color: #fff;background:#1e4787;}

.join_content .id_step_1{text-align: center;}
.join_content .id_step_1 .icon{padding:0 0 20px;}

.join_content .table_area.id_step .input_style1 {
    width: 252px;
}
.join_content .table_area.id_step td span{
    width: auto;
	display:inline-block;
	margin:0 6px;
}
td span.txt_area{
    width: auto;
	display:inline-block;
	margin:0 5px;
}

.join_content .id_result{margin:0 auto 30px;width:641px;height:98px;box-sizing:border-box;padding:37px 0;text-align:center;border:3px solid #f0f0f0}
.join_content .id_result .tit {
    display: inline-block;
    font-size: 13px;
    color: #333334;
    font-weight: 600;
    margin-right: 11px;
    vertical-align: 4px;
}
.join_content .id_result .tit.ml{margin-left:193px;}
.join_content .id_result strong{font-size: 24px;color: #214985;font-weight: 600;}

.mypage h3.tit{position:relative;font-size: 18px;color: #4b4a4a;font-weight: 600;overflow:hidden;padding:26px 0 12px;}
.mypage h3.tit .btn_top{position:absolute;right:0;bottom:7px;}
.mypage h3.tit .btn_top .btn{margin-left:3px;}
.mypage .button_area{padding:53px 0 0;}
.mypage .button_area .btn {
    padding: 0;
    box-sizing: border-box;
    width: 83px;
    margin: 0 3px;
}
.mypage .table_area.list_top table td{color:#171717;font-size:14px;padding: 9px 17px;height: 30px;line-height:26px;}
.mypage .table_area.list_top table td strong{color:#171717;font-size:14px;font-weight:600;}
.mypage .table_area.list_top table th{font-size:14px;padding-left:20px;text-align:left;}
.mypage .input_style1{width:250px;}
.mypage .input_style1.phone{width:104px;}
.mypage .input_style1.email{width:152px;}
.mypage .input_style1.pw{width:322px;}

.mypage_2 .table_area .btm_form_box{margin:0 ;}
.mypage_2 .table_area .btm_form_box input[type="checkbox"] + label{
    font-size: 0;
    line-height: 1;
    vertical-align: top;
}
.list_check .table_area.list.board table th:nth-child(2),.list_check .table_area.list.board table td:nth-child(2) {
    border-left: 0;
}
.mypage_2 .table_area.list.board table th, .mypage_2 .table_area.list.board table td {
    padding: 8px 10px;
    height: 25px;
}
.mypage_2 .table_area.list.board td .btn{height:25px;line-height:25px;width:66px;border-radius:2px;font-size:12px;padding:0;}
.mypage_2 .table_area.list.board td .btn_style1{background:#787878}
.mypage_2 .table_area.list.board td,.mypage_2 .table_area.list.board td a{font-size:12px;}
.mypage_2 .table_area.list table td.subject{padding-left:20px;}
.mypage_2 .pagination {
    padding: 28px 0 0px;
}
.mypage_2 .total_top_common {
    padding: 28px 0 18px;
}

.mypage_2 .table_area.view {
    margin: 28px 0 0;
}

.table_area.view .subject.re{background: #effbff url(../img/bg_re.png) 15px 10px no-repeat;padding-left:31px;}
.table_area.view .subject.re .txt_re{font-size: 14px;color: #214985;}

.mypage_2 strong{font-weight:600;line-height:23px;font-size:13px;}
.mypage_2 strong.txt_blue{color:#214985;}
.mypage_2 .table_area.list td .btn_style1.cancel{background:#000;height:23px;line-height:23px;padding:0 14px;width:auto;margin-left:8px;}

.mypage .box_top_common.date{margin:36px 0 0;}
.mypage .box_top_common.date .input_style1 {
    width: 172px;
}
.mypage .box_top_common.date .ui-datepicker-trigger{margin:0 38px 0 8px !important;}
.mypage .box_top_common.date .select_style{width:173px;}
.mypage .box_top_common.date .btn_style2{padding:0 33px;margin-left:40px;}

.privacy_content{padding:26px 0 109px;}
.privacy_content .inner{border:1px solid #dddddd;padding:18px 17px;font-size: 13px;color: #333333;font-weight: 400;line-height:20px;min-height:276px}
.privacy_content .inner *{font-size: 13px;color: #333333;}
.privacy_content .inner hr{border:0;padding:0;margin:0;height:22px;}
.privacy_content .inner li{position:relative;padding:0 0 0 18px;font-weight:600;}
.privacy_content .inner li strong{position:absolute;left:0;top:0;}
.privacy_content.email strong{font-size:16px;}

.error_content{padding:139px 0 200px;text-align:center;}
.error_content .txt1{font-size: 25px;color: #333333;font-weight: 700;line-height:37px;padding:28px 0 20px;}
.error_content .txt2{font-size: 14px;color: #636363;font-weight: 400;line-height:22px;padding:0px 0 40px;}
.error_content .txt3{font-size: 35px;color: #333333;font-weight: 800;line-height:80px;padding:28px 0 20px;}
.error_content .txt4{font-size: 20px;color: #636363;font-weight: 400;line-height:22px;padding:0px 0 40px;}
.error_content .btn_style2{font-size:12px;font-weight:600;padding:0 35px 0 14px;background: #1e4787 url(../img/arrow_blue.png) 113px center no-repeat;line-height:39px;height:39px;}

/*18-10-02*/
.pop_common.w500 .inner{width:500px;background:#214985;padding:0 7px 7px;}
.pop_common .inner .tit{padding:0 24px;line-height:52px;font-size: 15px;color: #fff;font-weight: 600;background:#1e4787;text-align:center;}
.pop_common .inner{width:650px;background:#fff;position:relative;}
.pop_common.bg2 .inner{width:637px;}
.pop_common.bg2 .inner .tit{background:#000}
.pop_common .inner .btn_close{position:absolute;right:19px;top:16px;}
.pop_common .inner .cont{padding:25px 20px;}

.pop_common.bg2 .inner .cont_n{padding:32px 40px 32px;}
.pop_common.bg2 .inner .cont_n .content{padding:13px 22px 32px;text-align:left;line-height:18px}

.pop_common .total_top_common {
    padding: 0 0 13px;
}
.pop_common .pagination {
    text-align: center;
    padding: 13px 0 12px;
}
.pop_common .pagination li a {
    font-size: 11px;
    height: 25px;
	width:25px;
    line-height: 25px;
}
.pop_common .pagination li {
    width: 25px;
}
.pop_common .table_area.list_type1 td {
    height: 32px;
    font-size: 12px;
}

.pop_common .inner .cont table td{padding:6px 13px;min-height:30px;font-size:13px;text-align:left;}
.pop_common .inner .cont table th{font-size:13px;}
.pop_common .inner .cont table td label{font-size:13px;}
.pop_common .btn_area {
    padding: 22px 0 30px;
}

.pop_common .btn_style1, .pop_common .btn_style2, .pop_common .btn_style3 {
    padding: 0 0;
    width: 86px;
}
.pop_common .inner .cont.line{background:#fff;border-radius:10px}
.pop_common .logt_b{text-align:center;}
.pop_common .btn_style2{margin:0 3px;}
.pop_common .input_style1.height{height:129px;}
.pop_common .input_style1{height:26px;}

.pop_common .box_input{position:relative;padding:0 75px 0 0;}
.pop_common .box_input p{padding:2px 0 0;font-size:11px;}
.pop_common .box_input .btn_style2{position:absolute;right:0;top:0;width:64px;height:34px;line-height:34px;box-sizing:border-box;}

.pop_common .input_style1.w73{width:73px !important;}
.pop_common .input_style1.w75{width:75px !important;}
.pop_common .input_style1.w58{width:58px !important;}
.pop_common .input_style1.w91{width:91px !important;}

.pop_common .list_step_id{border:1px solid #e4e4e4;overflow:hidden;background:#f8f8fa;margin:0 0 15px;}
.pop_common .list_step_id li{box-sizing:border-box;border-left:1px solid #e4e4e4;width:25%;float:left;line-height:38px;text-align:center;}
.pop_common .list_step_id li a{font-size: 13px;color: #696969;font-weight: 600;}
.pop_common .list_step_id li:first-child{border-left:0}
.pop_common .list_step_id li.active{color: #fff;background:#1e4787;}
.pop_common .list_step_id li.active a{color:#fff;}

.pop_common .txt_l{text-align:left !important;}
.pop_common .txt_c{text-align:center;}
.pop_common .txt_r{text-align:right;}
.pop_common .fs12{font-size:12px !important;}
.pop_common .txt_blue{color:#214985 !important;}
.pop_common .txt_red{color:#ff0000 !important;padding:5px 0 0;font-size:12px;}

.pop_common p{font-size:13px;line-height:21px;color:#171717;}
.pop_common p *{font-size:13px;}
.pop_common .txt_area{padding:15px 0 30px;}
.pop_common .bold{font-weight:600;}
.pop_common .img{text-align:center;padding:0 0 10px;}
.pop_common .txt_area .in{padding-left:20px;}

.pop_common strong{font-weight:700 !important;}
.pop_common .tit_box {
    font-size: 13px;
    color: #171717;
    font-weight: 400;
    background: url(../img/icon_box_navy.png) 0 8px no-repeat;
    padding: 2px 0 2px 19px;
}

.pop_common .txt_dot{padding-left:15px;margin-left:3px;background: url(../img/dot_navy_n.png) 3px 9px no-repeat;}
.pop_common .txt_area .btn_style1{margin-left: 10px;

vertical-align: 0px;

line-height: 26px;

height: 26px;}

.pop_common .txt_num{position:relative;padding-left:15px;margin-left:5px;}
.pop_common .txt_num span{position:absolute;left:0;top:0;}

.pop_common .txt_area .icon{vertical-align: -6px;}


.pop_common .txt_q{padding-left:30px;background: url(../img/img_cert_q.png) 0 2px no-repeat;padding-bottom:7px;color:#214985;font-weight:700;font-size:14px;}
.pop_common .txt_a{padding-left:30px;background: url(../img/img_cert_a.png) 0 2px no-repeat;}

.pop_common .cert4 .btn_style1{margin:5px 0 0 30px;}


.pop_common .table_area {
    border-top: 1px solid #3b3b3b;
    border-bottom: 1px solid #3b3b3b;
}

.pop_common .table_area table tr:first-child th, .pop_common .table_area table tr:first-child td{
    border-top: 0 !important;
}
.pop_common .table_area table{border:0}
.pop_common .table_area.list tr:last-child td, .pop_common .table_area.list_top tr:last-child td, .pop_common .table_area.list_top tr:last-child th, .pop_common .table_area.view tr:last-child td, .pop_common .table_area.view tr:last-child td {
    border-bottom: 0px !important;
}



/*18-10-02*/
.pop_common2.w500 .inner{width:500px;background:#214985;padding:0 7px 7px;}
.pop_common2 .inner .tit{padding:0 24px;line-height:52px;font-size: 15px;color: #fff;font-weight: 600;background:#1e4787;text-align:center;}
.pop_common2 .inner{width:650px;background:#fff;position:relative;}
.pop_common2.bg2 .inner{width:637px;}
.pop_common2.bg2 .inner .tit{background:#000}
.pop_common2 .inner .btn_close{position:absolute;right:19px;top:16px;}
.pop_common2 .inner .cont{padding:25px 20px;}

.pop_common2.bg2 .inner .cont_n{padding:32px 40px 32px;}
.pop_common2.bg2 .inner .cont_n .content{padding:13px 22px 32px;text-align:left;line-height:18px}

.pop_common2 .total_top_common {
    padding: 0 0 13px;
}
.pop_common2 .pagination {
    text-align: center;
    padding: 13px 0 12px;
}
.pop_common2 .pagination li a {
    font-size: 11px;
    height: 25px;
	width:25px;
    line-height: 25px;
}
.pop_common2 .pagination li {
    width: 25px;
}
.pop_common2 .table_area.list_type1 td {
    height: 32px;
    font-size: 12px;
}

.pop_common2 .inner .cont table td{padding:6px 13px;min-height:30px;font-size:13px;text-align:left;}
.pop_common2 .inner .cont table th{font-size:13px;}
.pop_common2 .inner .cont table td label{font-size:13px;}
.pop_common2 .btn_area {
    padding: 22px 0 30px;
}

.pop_common2 .btn_style1, .pop_common2 .btn_style2, .pop_common2 .btn_style3 {
    padding: 0 0;
    width: 86px;
}
.pop_common2 .inner .cont.line{background:#fff;border-radius:10px}
.pop_common2 .logt_b{text-align:center;}
.pop_common2 .btn_style2{margin:0 3px;}
.pop_common2 .input_style1.height{height:129px;}
.pop_common2 .input_style1{height:26px;}

.pop_common2 .box_input{position:relative;padding:0 75px 0 0;}
.pop_common2 .box_input p{padding:2px 0 0;font-size:11px;}
.pop_common2 .box_input .btn_style2{position:absolute;right:0;top:0;width:64px;height:34px;line-height:34px;box-sizing:border-box;}

.pop_common2 .input_style1.w73{width:73px !important;}
.pop_common2 .input_style1.w75{width:75px !important;}
.pop_common2 .input_style1.w58{width:58px !important;}
.pop_common2 .input_style1.w91{width:91px !important;}

.pop_common2 .list_step_id{border:1px solid #e4e4e4;overflow:hidden;background:#f8f8fa;margin:0 0 15px;}
.pop_common2 .list_step_id li{box-sizing:border-box;border-left:1px solid #e4e4e4;width:25%;float:left;line-height:38px;text-align:center;}
.pop_common2 .list_step_id li a{font-size: 13px;color: #696969;font-weight: 600;}
.pop_common2 .list_step_id li:first-child{border-left:0}
.pop_common2 .list_step_id li.active{color: #fff;background:#1e4787;}
.pop_common2 .list_step_id li.active a{color:#fff;}

.pop_common2 .txt_l{text-align:left !important;}
.pop_common2 .txt_c{text-align:center;}
.pop_common2 .txt_r{text-align:right;}
.pop_common2 .fs12{font-size:12px !important;}
.pop_common2 .txt_blue{color:#214985 !important;}
.pop_common2 .txt_red{color:#ff0000 !important;padding:5px 0 0;font-size:12px;}

.pop_common2 p{font-size:13px;line-height:21px;color:#171717;}
.pop_common2 p *{font-size:13px;}
.pop_common2 .txt_area{padding:15px 0 30px;}
.pop_common2 .bold{font-weight:600;}
.pop_common2 .img{text-align:center;padding:0 0 10px;}
.pop_common2 .txt_area .in{padding-left:20px;}

.pop_common2 strong{font-weight:700 !important;}
.pop_common2 .tit_box {
    font-size: 13px;
    color: #171717;
    font-weight: 400;
    background: url(../img/icon_box_navy.png) 0 8px no-repeat;
    padding: 2px 0 2px 19px;
}

.pop_common2 .txt_dot{padding-left:15px;margin-left:3px;background: url(../img/dot_navy_n.png) 3px 9px no-repeat;}
.pop_common2 .txt_area .btn_style1{margin-left: 10px;

vertical-align: 0px;

line-height: 26px;

height: 26px;}

.pop_common2 .txt_num{position:relative;padding-left:15px;margin-left:5px;}
.pop_common2 .txt_num span{position:absolute;left:0;top:0;}

.pop_common2 .txt_area .icon{vertical-align: -6px;}


.pop_common2 .txt_q{padding-left:30px;background: url(../img/img_cert_q.png) 0 2px no-repeat;padding-bottom:7px;color:#214985;font-weight:700;font-size:14px;}
.pop_common2 .txt_a{padding-left:30px;background: url(../img/img_cert_a.png) 0 2px no-repeat;}

.pop_common2 .cert4 .btn_style1{margin:5px 0 0 30px;}


.pop_common2 .table_area {
    border-top: 1px solid #3b3b3b;
    border-bottom: 1px solid #3b3b3b;
}

.pop_common2 .table_area table tr:first-child th, .pop_common2 .table_area table tr:first-child td{
    border-top: 0 !important;
}
.pop_common2 .table_area table{border:0}
.pop_common2 .table_area.list tr:last-child td, .pop_common2 .table_area.list_top tr:last-child td, .pop_common2 .table_area.list_top tr:last-child th, .pop_common2 .table_area.view tr:last-child td, .pop_common2 .table_area.view tr:last-child td {
    border-bottom: 0px !important;
}


/*신고서*/
.declaration_preview .inner{padding:5px;min-height:600px;}
.declaration_preview .inner .preview{background:#fff;border:1px solid #dddddd;padding:15px 25px 25px;}
.declaration_preview .inner .preview .tit{padding:11px 0 41px;text-align:center;font-size: 24px;font-weight: 600;}
.declaration_preview .inner .preview table{width:100%;}
.declaration_preview .inner .preview table th{background:#f6f6f6;font-size: 14px;color: #333333;border:1px solid #3b3b3b;padding:13px 0;text-align:center;line-height:18px;}
.declaration_preview .inner .preview table th.bg{background:#fff;}
.declaration_preview .inner .preview table th p{padding:2px 0 0;line-height:16px;font-size:12px;color:#333333;font-weight:400;}
.declaration_preview .inner .preview table th span{font-size:12px;color:#333333;font-weight:400;}
.declaration_preview .inner .preview table td{font-size: 13px;color: #333333;border:1px solid #3b3b3b;padding:13px 25px;text-align:center;line-height: 22px;}
.declaration_preview .inner .preview table td.txt_l{text-align:left}
.declaration_preview .inner .preview table tr.height th,.declaration_preview .inner .preview table tr.height td{padding-top:30px;padding-bottom:30px;}
.declaration_preview .inner .preview table td p{display:inline-block;font-size:12px;}
.declaration_preview .inner .preview .txt1{padding:37px 0 68px;font-size: 14px;color: #333333;font-weight: 300;text-align:center;}
.declaration_preview .inner .preview .txt1 strong{font-size: 14px;color: #333333;font-weight: 600;}
.declaration_preview .inner .preview .sign{text-align:right;}
.declaration_preview .inner .preview .sign p{font-size: 14px;color: #333333;font-weight: 300;padding:0 0 15px;letter-spacing:1px;}
.declaration_preview .inner .preview .txt2{padding:37px 0 41px;font-size: 16px;color: #333333;font-weight: 300;text-align:center;}
.declaration_preview .inner .preview .txt2 strong{letter-spacing:5px;font-size: 16px;color: #333333;font-weight: 600;}

.declaration_preview.pop{width:880px;}
.declaration_preview.pop .inner {
    padding: 0;
}
.declaration_preview.pop .inner .preview {
    border: 0;
}
.declaration_preview.pop .inner {
    height: auto;
    background: none;
}
.declaration_preview.pop .btn_area {
   padding:12px 0 35px;
}
.declaration_preview.pop .btn_style1, .declaration_preview.pop .btn_style2, .declaration_preview.pop .btn_style3 {
    padding: 0 17px;
    height: 33px;
    line-height: 33px;
    font-size: 14px;
}
.declaration_preview p.txt_nofile{font-size: 13px;color: #8f8f8f;font-weight: 300;} 

.info_top .inner {
    padding: 0 15px;
}

/* sitemap */

.tit_sub_c.sitemap {
    background: url(../img/bg_tit_sub_sitemap.png) center center no-repeat;
}
.sitemap_content{padding: 0 0 82px;overflow: hidden;width: 1202px;margin: 0 auto;}
.sitemap_content .cell{width: 324px;float: left;padding: 43px 113px 27px 0;}
.sitemap_content .cell3{padding-right:0 ;}

.sitemap_content .tit{font-size: 24px;font-weight: 600;color:#333333;padding: 0 0 21px;}

.sitemap_content .cell1 .tit{background: url(../img/bar_sitemap_1.png) 0 bottom no-repeat;}
.sitemap_content .cell2 .tit{background: url(../img/bar_sitemap_2.png) 0 bottom no-repeat;}
.sitemap_content .cell3 .tit{background: url(../img/bar_sitemap_3.png) 0 bottom no-repeat;}
.sitemap_content .cell4 .tit{background: url(../img/bar_sitemap_4.png) 0 bottom no-repeat;}
.sitemap_content .cell5 .tit{background: url(../img/bar_sitemap_5.png) 0 bottom no-repeat;}
.sitemap_content .cell6 .tit{background: url(../img/bar_sitemap_1.png) 0 bottom no-repeat;}
.sitemap_content .cell7 .tit{background: url(../img/bar_sitemap_2.png) 0 bottom no-repeat;}
.sitemap_content .cell8 .tit{background: url(../img/bar_sitemap_3.png) 0 bottom no-repeat;}
.sitemap_content .cell9 .tit{background: url(../img/bar_sitemap_4.png) 0 bottom no-repeat;}
.sitemap_content .cell10 .tit{background: url(../img/bar_sitemap_5.png) 0 bottom no-repeat;}
.sitemap_content .cell li{line-height:47px;border-bottom:1px solid #cccccc;}
.sitemap_content .cell li a{font-size: 15px;font-weight: 600;color:#000;}
.sitemap_content .cell .depth_n{padding: 12px 0;}
.sitemap_content .cell .depth_n a{display: block;padding-left: 8px;font-size: 13px;font-weight: 600;color:#6b6969;line-height:26px;background: url(../img/dot_sitemap.png) 0 center no-repeat;}

/*18-11-19*/
.join_content.pw .list_step_id li{width: 25%;}
.join_content.pw .table_area.id_step .input_style1.w317 {
    width: 317px;
}
.login_content.pw.login_content_n .cell2{height: auto;border:3px solid #f0f0f0;padding: 0 23px 26px;width: 601px;box-sizing: border-box;}
.login_content.pw.login_content_n .inner .cell .tit {
    padding: 20px 15px 20px;
    font-size: 18px;
    color: #214985;
    font-weight: 600;
    border-bottom: 1px solid #e1e1e1;
    margin: 0 0 29px;
}
.login_content.pw.login_content_n .box_input strong{width: 110px;margin: 0;font-size: 14px;font-weight: 600;}
.login_content.pw.login_content_n .cell2 .box_input .input_style1 {
    width: 302px;
}
.login_content.pw.login_content_n .box_input{margin: 0 0 10px;padding: 0 0 0 67px;}

.login_content.pw.login_content_n .box_top_common {
    width: 602px;
}
.login_content.pw.login_content_n .inner {
    padding: 0 0 17px;
}

.login_content.pw.login_content_n .button_area{margin: 31px 0 0;}
.login_content.pw.login_content_n .button_area .btn {
    padding: 4px 26px;
    font-size: 14px;
}
.declaration_preview .inner {
    padding: 0;
}
.declaration_preview .inner .preview {
	border:0;
}
.declaration_preview{ border-right: 1px solid #dddddd;}
.declaration_preview .inner .preview .num_top.txt_r{text-align:right;}
.declaration_preview .inner .preview .border_top0 th,.declaration_preview .inner .preview .border_top0 td{border-top:0}

.declaration_preview .inner .preview .file_change a{display:block;}
.declaration_preview .inner .preview .file_change p{padding:0;font-size: 13px;color: #214985;display:inline-block;}
.declaration_preview .inner .preview .file_change p.txt1{font-weight: 600;}
.declaration_preview .inner .preview .file_change p.txt2{font-weight: 300;padding:0 0 0 25px;width:296px;text-align:left;color:#333333;}
.declaration_preview .inner .preview .file_change p.txt3{font-weight: 300;}

.declaration_preview .inner {
    height: auto;
    background: transparent;
}

.declaration_preview .inner .preview table td.pl12 {
    padding-left: 12px;
    padding-right: 0;
}
.form_apply .txt_b.line{border-top:1px solid #dddddd}

.declaration_preview .inner .preview table td.pl12 {
    padding-left: 9px;
}
.tit_bar span{font-size:18px ;}
.tit_box.yellow {
    background: url(../img/box_yellow.png) 0 4px no-repeat;
	font-size:14px ;
	margin: 0 0 22px;
}
.tit_box.yellow.mt{margin: 27px 0 22px;}

.table_area tr.bg_total td, .table_area td.bg_total {
    background: #f5f5f5;
}
.list_finl_link{padding:0 0 0 15px;}
.list_finl_link p{display:inline-block;font-size:14px;font-weight:600;width:189px;}
.list_finl_link2 p{width:236px;}
.list_finl_link p span{font-size:14px;font-weight:400;}
.list_finl_link.bg{background:#f8f8fa;border:1px solid #e4e4e4;padding:23px 23px 22px;margin:0 0 19px;}
.list_finl_link.bg li{margin:0 0 5px;}
.list_finl_link.bg a{margin:0;}
.list_finl_link li {
    font-size: 13px;
    color: #333333;
    font-weight: 400;
    margin: 0 0 10px;
    background: url(../img/icon_file_board2.png) 0 center no-repeat;
    padding: 0 0 0 17px;
    height: 30px;
    line-height: 30px;
}
.list_finl_link li a{font-size: 13px;color: #214985;font-weight: 400;display:inline-block;margin-left:39px;}
.list_finl_link.bg .list_file{margin:0;}
.input_style1.height_bottom_n {
    height: 142px;
    margin: 0 0 19px;
	line-height: 170%;
}
.tbl_style_b thead th{color: #fff;background: #3b3b3b}
.table_area.list_type2 th .btn_style1 {
    margin-left: 15px;
    vertical-align: 0px;
}
.list_finl_link .list_file {
    display: inline-block;
    margin-left: 39px;
}
.tbl_style_b.list_type2 th .btn_style1 {background: #fff;color: #000;}
.table_area.list_type2 table td, .table_area.list_type2 table th {
    padding: 6px 13px;
    height: 30px;
}
.list_finl_link li .btn_style3{margin: 0;background:#f5f5f5;color: #333333;}

.tab_result.yellow{height:37px;border-bottom:1px solid #faaf09;}
.tab_result.yellow li{display:inline-block;float:left;}
.tab_result.yellow li a{display:block;padding:0 25px;line-height:36px;border:1px solid #dddddd;background:#f5f5f5;border-bottom:0;font-size: 14px;color: #a8a8a8;font-weight: 400;border-left:0}

.tab_result.yellow li:first-child{border-left:1px solid #dddddd}
.tab_result.yellow li.active a{background:#faaf09;height:37px;border:1px solid #faaf09;border-bottom:0;font-weight:800;color:#fff;}

.tit_c_s {
    font-size: 18px;
    color: #333333;
    font-weight: 600;
    padding: 37px 0 23px;
    overflow: hidden;
    position: relative;
}
.tit_c_s .txt_red {
    font-size: 13px;
    color: #ff0000;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 44px;
    text-align: right;
}
.tit_c_s span {
    font-size: 18px;
    color: #333333;
    font-weight: 400;
}
.button_area {
    position: relative;
}
.button_area .right {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}
.table_area.scroll {
    overflow-x: scroll;
}
.table_area.scroll .inner {
    width: 2093px;
}
.txt_exp {
    padding: 16px 0 0;
}
.txt_exp li {
    font-size: 13px;
    color: #214985;
    font-weight: 400;
    line-height: 22px;
}
.table_area.list_type2 td:first-child {
    font-size: 14px;
    color: #000;
    font-weight: 700;
}
.txt_unit {
    float: right;
    color: #214985;
    font-weight: 400;
}

.table_area.list_type1_n table td:first-child, .table_area.list_type1_n table th:first-child {
   border-left: 1px solid #dddddd;
}

.table_area.list.list_type1_n tbody tr:last-child th{
    border-bottom: 1px solid #000;
}
.table_area.list.list_type1_n th:first-child{line-height:18px;border-left:0} 

.table_area.list_type1_n table td {
    padding: 13px 5px;

}

.table_area.td_first_padding td:first-child{padding: 13px 2px;}

.table_area table th .btn{vertical-align: 1px;}
.list_file .btn{vertical-align: top;box-sizing: border-box;}

.list_finl_link.bg .list_file .input_style1,.list_finl_link.bg .list_file .btn_style3 {
    background: #fff;
}

/* 2018-12-11 */
.pop_agree {position: fixed;    left: 0;    top: 0;    width: 100%;    height: 100%;    background: rgba(0, 0, 0, 0.51);    z-index: 9999;}
.pop_agree .inner {width:1007px; height:780px; margin: 3% auto;	 background: #fff;    position: relative;	padding:15px;	overflow-y:scroll;}
.pop_agree .txt {font-size: 12px;    color: #000;    font-weight: 400;	line-height:22px}
.pop_agree .txt strong{display: block;color: #214985;font-weight: 600;font-size: 13px;}
.pop_agree .inner .tit_top {padding:20px 0 0;text-align:center;font-size: 18px;color: #000;font-weight: 600; line-height: 30px;}
.pop_agree .inner .tit_top span{display: block;padding:11px 0 0;font-size: 12px;color: #706e6e;font-weight: 400;}
.pop_agree .inner .tit_top.mb{margin-bottom:41px;}
.pop_agree .inner .cell_agree .tit .btm_form_box{display:inline-block;float:right;padding:0;margin:0;}
.pop_agree .inner .cell_agree .tit .btm_form_box label{font-size: 13px;}
.pop_agree .inner .inner .cell_agree .tit span{font-size: 14px;color: #f04545;font-weight: 600;}
.pop_agree .inner .cell_agree .txt {border:1px solid #dddddd;border-top:0;padding:26px 18px 15px;box-sizing:border-box;height:150px;overflow-y:scroll;}
.pop_agree .inner .cell_agree .txt {font-size: 13px;color: #333333;line-height:20px;}
.pop_agree .inner .cell_agree .txt *{font-size: 13px;color: #333333;}
.pop_agree .inner .cell_agree .txt strong{font-weight: 700;}
.pop_agree .inner .cell_agree .txt .txt_inner{padding-left:13px;font-weight: 600;}
.pop_agree .inner .cell_agree .btm_form_box {    padding: 37px 0 17px;    text-align: center;    display: block;}
.pop_agree .inner .cell_agree .tit {font-size: 14px;color: #214985;font-weight: 600;line-height:40px;padding:0 18px;background:#f5f5f5;border:1px solid #dddddd;overflow:hidden;}
.pop_agree .inner .cell_agree {    margin: 20px 0 20px;}
.pop_agree .inner .cell_agree .tit{font-size: 14px;color: #214985;font-weight: 600;line-height:53px;padding:0 18px;background:#f5f5f5;border:1px solid #dddddd;overflow:hidden;}
.pop_agree .inner .button_area .btn_style1,.join_content .button_area .btn_style2 {    padding: 0 44px;    height: 42px;    line-height: 42px;    font-size: 14px;	margin:0 3px;	min-width:120px;	box-sizing:border-box;}
.pop_agree .inner .button_area{padding-bottom:20px;}
.pop_agree .inner .input_area{box-sizing:border-box;border:3px solid #f0f0f0;width:718px;margin:0 auto 38px;height:87px;padding:25px 31px;}
.pop_agree .inner .input_area.margin {
    margin: 37px auto 41px;
}
.pop_agree .btm_form_box label{font-size: 15px;color: #000;font-weight: 700;}
.pop_agree .btm_form_box label span{font-size: 12px;font-weight: 600;}
/* //2018-12-11 */

.pop_common {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.51);
    z-index: 9999;
    overflow: scroll;
}
.pop_common .inner {
    margin: 10% auto;
    background: #fff;
    position: relative;
}
.pop_common .inner.w501{width: 501px;}

.main_notice .txt{font-size: 13px;
    color: #000;
    font-weight: 400;
	line-height:24px}
.main_notice .txt strong{display: block;color: #214985;font-weight: 600;font-size: 13px;}

.main_notice .btn_style1{
    width: 121px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
	
}
.main_notice .btn_area{border-bottom:1px solid #e4e4e4;}

.pop_common.main_notice .logt_b{padding: 10px 0 0;}

.pop_common.main_notice .inner .cont {
    padding: 17px 20px 9px;
}



.pop_common2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.51);
    z-index: 9999;
    overflow: scroll;
}
.pop_common2 .inner {
    margin: 10% auto;
    background: #fff;
    position: relative;
}
.pop_common2 .inner.w501{width: 501px;}

.main_notice .txt{font-size: 13px;
    color: #000;
    font-weight: 400;
	line-height:24px}
.main_notice .txt strong{display: block;color: #214985;font-weight: 600;font-size: 13px;}

.main_notice .btn_style1{
    width: 121px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
	
}
.main_notice .btn_area{border-bottom:1px solid #e4e4e4;}

.pop_common2.main_notice .logt_b{padding: 10px 0 0;}

.pop_common2.main_notice .inner .cont {
    padding: 17px 20px 9px;
}

.btn.big{font-size:14px;padding: 0 22px !important;height: 33px;line-height: 33px;width: auto !important;}

.combine .tit {
    font-size: 18px;
    color: #214985;
    font-weight: 600;
	padding: 0 0 23px;
	border-bottom:1px solid #e1e1e1
}

.combine .inner{width: 551px;}

.combine .type li:first-child{width: 327px;}
.combine .type li:last-child{width: 213px;}
.combine .type li{height: 98px;}
.combine .type li .icon {
    padding: 0;
    height: 98px;
}
.combine .type {
    width: auto;
}
.combine .ment_b.step_1 {
    width: auto;
    margin: 0 auto;
}
.combine .ment_b.step_1 li{margin: 0 0 8px;}

.combine .ment_b .box_top_common {
    margin: 13px 0 34px;
}

.login_content.pwid.login_content_n .box_input p{display: inline-block;font-size: 14px;color: #214985;font-weight: 500;}
.login_content.pwid.login_content_n .box_input p.txt1{color: #333333;width: 55px;}
.login_content.pwid.login_content_n .box_input p.txt2{width: 95px;}
.login_content.pwid.login_content_n .box_input p.txt3{width: 117px;text-align:center;}
.login_content.pw.login_content_n .box_input {
    margin: 0 0 10px;
    padding: 4px 0 10px 46px;
	margin: 0;
}
.search_top{padding:0 161px 0 0;position:relative;}

.search_top .table_area .btn_search{width:135px;height:125px;position:absolute;right:0;top:0;font-size:14px;line-height:125px;}

.search_top .table_area .hasDatepicker{width:172px;}

.search_top .table_area table td {
    padding: 5px 16px;
}
.search_top .table_area table th {
    font-size: 14px;
}

.search_top .table_area .ui-datepicker-trigger{margin:0 25px 0 7px !important;}

.search_top .table_area .btm_form_box input[type="checkbox"] + label, .search_top .table_area .btm_form_box input[type="radio"] + label {
    font-size: 13px;
}

.login_content.pwid.login_content_n .cell2{padding: 30px 0 20px;}
.login_content.pwid.login_content_n .cell2 .btn{vertical-align: 2px;}
.login_content.pwid.login_content_n .button_area .btn{width: 120px;padding: 4px 0px;}